<button id="modal-promotions" data-toggle="modal" href="#myModalPromotions" class="d-none"></button>

<div class="container">
  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Abrir ventana de diálogo</button>-->

  <div class="modal fade" id="myModalPromotions">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- cabecera del diálogo -->
        <div class="modal-header modal-title bg-success d-block">
          <h4 class="modal-title text-white text-center">Agregar Promoción</h4>
          <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
        </div>

        <!-- cuerpo del diálogo -->
        <div class="modal-body">
          <label class="form-label">Promoción:</label>
          <select class="form-control col-12" id="promotions" [(ngModel)]="promotionIdSelect" (change)="selectPromotion($event.target.value)">
            <option class="form-control col-12" value="0" disabled>Seleccionar</option>
            <option *ngFor="let promotion of promotions" class="form-control col-12" [value]="promotion.id">{{promotion.name}}</option>
          </select>
        </div>
        <div class="modal-body" *ngIf="promotionAnotherMember">
          <div class="text-white text-center text-uppercase bg-info p-2 fw-bold">
            Socio {{memberNum}}- Descuento {{memberDiscount}}%
          </div>
          <div class="dropdown card card-body row formValidators m-0">
            <div class="col-12">
              <a class="dropdown-toggle col-9 btn-float-left" id="dropdown1" data-toggle="dropdown">
                <label class="form-label text-black">Socio:</label>
                <input type="text" class="form-control" placeholder="Buscar Socio" [(ngModel)]="filterMember" />
                <p *ngIf="send && f.memberName.errors?.required">*Debe seleccionar un socio.</p>
              </a>
              <div class="col-2 btn-float-right div-btn-add-member">
                <button type="button" class="btn btn-success" (click)="addMemberPromotion(memberNum)">Ok</button>
              </div>
              <div class="dropdown-menu form-control col-9">
                <a *ngFor="let member of members  | searchFilterMember: filterMember " class="dropdown-item" (click)="selectMember(member)">{{member.lastName}} {{member.name}}</a>
              </div>
            </div>

            <div *ngIf="feeViewMemberPromotion && fees.length>0">
              <section id="no-more-tables">
                <table class="table table-bordered table-condensed cf scrollme user-table bg-danger text-white table-font">
                  <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Fecha Alta</th>
                      <th>Fecha Vcto.</th>
                      <th>Plan</th>
                      <th>Promoción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="scrollme" *ngFor="let fee of fees">
                      <td class="td-title" data-title="Cantidad">{{fee.credits}}</td>
                      <td class="td-title" data-title="Fecha Alta">{{fee.from | date: 'dd/MM/yyyy'}}</td>
                      <td class="td-title" data-title="Fecha Vcto.">{{fee.to | date: 'dd/MM/yyyy'}}</td>
                      <td class="td-title" data-title="Plan">{{fee.member.plan.name}}</td>
                      <td class="td-title" data-title="Promoción"><span *ngIf="fee.promotionId==null">-</span><span *ngIf="fee.promotionId!=null">{{fee.promotion.name}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>
            <div *ngIf="balanceViewMemberPromotion && balances.length>0">
              <section id="no-more-tables">
                <table class="table table-bordered table-condensed cf scrollme user-table bg-warning text-white table-font">
                  <thead>
                    <tr>
                      <th colspan="5" class="text-center">Saldos</th>
                    </tr>
                    <tr>
                      <th>Fecha</th>
                      <th>Concepto</th>
                      <th>Detalle</th>
                      <th>Saldo</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="scrollme" *ngFor="let balance of balances">
                      <td class="td-title" data-title="Fecha">{{balance.date | date: 'dd/MM/yyyy'}}</td>
                      <td data-title="Concepto"><span *ngIf="balance.transaction == 1">Venta</span><span *ngIf="balance.transaction == 2">Cuota</span></td>
                      <td data-title="Detalle" class="text-center">
                        <span>
                          <a class="a-link-detail" (click)="getTransaction(balance)">ver</a>
                        </span>
                      </td>
                      <td data-title="Saldo"><span *ngIf="balance.balance>0">{{balance.balance}}</span><span *ngIf="balance.balance<0">{{balance.balance * -1}} (a favor)</span></td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </div>
          </div>

        </div>
        <div class="modal-body card" *ngIf="viewAddedMembers">
          <label class="form-label">Socios Agregados:</label>
          <div *ngFor="let member of membersPromotion; index as i" class="mt-1">
            <label class="form-label">{{member.name}}</label>&nbsp;
            <button class="btn btn-outline-danger btn-block" (click)="removeMemberPromotion(i)">x</button>
          </div>
        </div>
        <!-- pie del diálogo -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger col-3" data-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-success col-3" data-dismiss="modal" (click)="addPromotion()">Agregar</button>
        </div>

      </div>
    </div>
  </div>
</div>
<div [ngClass]="{'view-debt-detail': viewDebts}">
  <app-debt-detail *ngIf="member"></app-debt-detail>
</div>

