<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <div class="task-panel ">
        <h4 class="table-title">Clases</h4>
        <button type="button" class="btn btn-success btn-float-right" routerLink="/clase-crear">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterName" placeholder="Buscar" class="form-control" [(ngModel)]="filterName">
          </div>
        </div>
      </div>
      <section *ngIf="!requestingList && classes.length > 0" id="no-more-tables">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Nombre</th>
              <th class="numeric">Personalizada</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let class of classes | searchFilterName: filterName">
              <td data-title="Nombre"><span>{{class.name}}</span></td>
              <td data-title="Personalizada"><span>{{class.personalized}}</span></td>
              <td data-title="Acción">
                <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/clase-editar']" [queryParams]="{id:class.id}"><i class="fa fa-pencil-square"></i></button>
                <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(class.id)"><i class="fa fa-trash "></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="w-100 text-center" *ngIf="requestingList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requestingList && classes.length == 0">
        <h5>No hay clases registrados</h5>
      </div>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->


</section>
