<section class="wrapper" *ngIf="!requestingList">
  <div class="task-panel " *ngIf="member">
    <h4 class="table-title">Asignar Test - {{member.lastName}} {{member.name}}</h4>
  </div>
  <hr>
  <div class="col-12 card" *ngIf="testTemplates.length> 0">
    <div class="row card-body">
      <div class="col-12">
        <input type="text" name="filterName" placeholder="Buscar" class="form-control" [(ngModel)]="filterName">
      </div>
    </div>
  </div>
  <section id="no-more-tables" *ngIf="testTemplates.length> 0">
    <table class="table table-bordered table-condensed cf scrollme user-table">
      <thead class="cf">
        <tr>
          <th class="numeric">Nombre</th>
          <th class="numeric">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of testTemplates | filterLevel: filterName" class="scrollme span-margin">
          <td class="td-title" data-title="Nombre">
            <span>Nivel {{test.level}}</span>
            <span *ngIf="test.assignment && test.status == 2" class="badge bg-success ms-2">Asignado</span>
            <span *ngIf="test.assignment && test.status == 1" class="badge bg-primary ms-2">Realizado</span>
            <span *ngIf="test.assignment && test.status == 2" class="badge bg-secondary ms-2">Pendiente</span>
          </td>
          <td class="td-title col-12 col-lg-3" data-title="Acción">
            <span class="btn-action-container">
              <button class="btn btn-primary ms-2 col-4 col-lg-3 btn-action-list" placement="top" ngbTooltip="detalle" [routerLink]="['/test-detalle']" [queryParams]="{id: test.id, memberId: memberId}"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button *ngIf="!test.assignment || (test.assignment && test.status == 1)" class="btn btn-success ms-2 col-4 col-lg-3 btn-action-list" placement="top" ngbTooltip="asignar" [routerLink]="['/test-asignacion']" [queryParams]="{id: test.id, memberId: memberId }"><i class="fa fa-check-square" aria-hidden="true"></i></button>

            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>
<section class="wrapper">
  <div class="w-100 text-center" *ngIf="requestingList && testTemplates.length == 0">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <h5 *ngIf="!requestingList && testTemplates.length == 0">No hay tests para mostrar</h5>
</section>
<section class="wrapper" *ngIf="!requestingList">
  <div class="button-box col-12 col-lg-2 pe-1 btn-float-left">
    <button class="btn btn-secondary btn-return" [routerLink]="['/personalizados']">Volver</button>
  </div>
</section>


