<section class="wrapper">
  <div class="container-fluid modal-content modal-lg p-0" *ngIf="!requesting && withdrawalName">
    <header class="modal-header d-block bg-success"><h3 class="mb text-center text-white">Editar Retiro</h3></header>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 card">
            <form [formGroup]="formEdit">
              <div class="row card-body">
                <label class="col-12 control-label">Nombre:</label>
                <div class="col-12 formValidators">
                  <input type="text" class="form-control" formControlName="name">
                  <p *ngIf="sendForm && f.name.errors?.required">*el campo es requerido</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid modal-lg div-btn-create" *ngIf="!requesting && withdrawalName">
    <button class="btn btn-secondary col-12 col-lg-2 pull-left btn-create" type="button" routerLink="/retiros-list">Cancelar</button>
    <button class="btn btn-success col-12 col-lg-2 btn-float-right btn-create" type="submit" (click)="submit()">Guardar</button>
  </div>
  <div class="w-100 text-center" *ngIf="requesting">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>




