<section class="wrapper">
  <div class="form-group mt-3">
    <label class="control-label">Nombre:</label>
    <div class="formValidators">
      <input type="text" class="form-control" [(ngModel)]="name">
      <p [ngClass]="validatorsRequiredName ? 'validators': 'hide-validators'">*Debe ingresar un nombre.</p>
    </div>
  </div>
  <div class="form-group mt-3">
    <label class="col-12 control-label">Asignar Objetivo:</label>
    <ng-multiselect-dropdown [settings]="weeklyGoalsDropdownSettings"
                             [data]="weeklyGoals"
                             [(ngModel)]="selectedGoals"
                             [placeholder]="'Seleccionar...'"
                             (onSelect)="onItemSelect($event)"
                             (onSelectAll)="onSelectAll($event)"
                             (onDeSelect)="onItemDeSelect($event)"
                             (onDeSelectAll)="onDeSelectAll()">
    </ng-multiselect-dropdown>
  </div>
  <p [ngClass]="validatorsRequiredGoal ? 'validators': 'hide-validators'">*Debe seleccionar uno o más objetivos.</p>
  <div class="form-group mt-3 mb-3">
    <label class="control-label">Objetivos:</label>
    <div class="formValidators">
      <ul>
        <li *ngFor="let weeklyGoal of weeklyGoalsList">{{weeklyGoal.goal}}</li>
      </ul>
    </div>
    <div class="formValidators" *ngIf="weeklyGoalsList.length == 0">
      <strong>No se asignaron objetivos</strong>
    </div>
  </div>

  <div class="form-group mt-3">
    <label class="control-label">Categoría:</label>
    <div class="">
      <select class="form-control" (change)="selectCategory($event.target.value)">
        <option value="" disabled>Seleccionar...</option>
        <option value="0">Todos</option>
        <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
      </select>
    </div>
  </div>


  <div class="col-12 card mt-3">
    <div class="row card-body justify-content-center align-items-center">
      <div class="row">
        <div class="col-12">
          <label class="col-12 control-label">Tags:</label>
          <div *ngIf="checkboxToTags.length>0" class="row">
            <div *ngFor="let checkToTag of checkboxToTags; index as i" class="col-md-4">
              <input class="checkbox-tags" type="checkbox" [id]="checkToTag.id" [checked]="checkToTag.checked"
                     (change)="checkTag(i)">
              <label [for]="checkToTag.id">{{checkToTag.tag}}</label>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group mt-3 col-12">
      <label class="control-label">Ejercicio:</label>
      <div class="formValidators">
        <ng-select class="custom" #select [items]="exercisesSelect" [(ngModel)]="selectedExercise" bindLabel="name"
                   bindValue="id" selectOnTab="true" id="select-exercise" notFoundText="No hay ejercicios" (change)="selectExercise()">
        </ng-select>
        <p [ngClass]="validatorsRequiredExercise ? 'validators': 'hide-validators'">*Debe seleccionar un ejercicio.</p>
      </div>
    </div>

    <div class="form-group mt-3 col-12">
      <label class="control-label"></label>
      <div class="formValidators">
        <div class="row">

          <div class="col-8">
            <fieldset class="radio-group">
              <label>
                <input type="radio" class="radio-mode" name="numero" value="Kgs" [(ngModel)]="mode" class="cb-label"> Kgs
              </label>
              <label>
                <input type="radio" class="radio-mode" name="numero" value="%" [(ngModel)]="mode" class="cb-label"> %
              </label>
              <label>
                <input type="radio" class="radio-mode" name="numero" value="RPE" [(ngModel)]="mode" class="cb-label"> RPE
              </label>
              <label>
                <input type="radio" class="radio-mode" name="numero" value="RPEs" [(ngModel)]="mode" class="cb-label"> RPEs
              </label>
              <label>
                <input type="radio" class="radio-mode" name="numero" value="None" [(ngModel)]="mode" class="cb-label"> Ninguno
              </label>
            </fieldset>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" [(ngModel)]="value">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <label class="control-label">Modalidad:</label>
    <div class="formValidators">
      <ng-select class="custom" [items]="modalities" [(ngModel)]="selectedModality" bindLabel="name" bindValue="id"
                 selectOnTab="true" notFoundText="No hay modalidades" (change)="selectModality()">
        >
      </ng-select>
      <p [ngClass]="validatorsRequiredModality ? 'validators': 'hide-validators'">*Debe seleccionar una modalidad.</p>
    </div>
  </div>

  <div class="form-group mt-3">
    <label class="control-label">Unidades:</label>
    <div class="formValidators">
      <input type="text" class="form-control" [(ngModel)]="units">
      <p *ngIf="validationError && !units">* el campo es requerido.</p>
    </div>
  </div>


  <div class="button-box">
    <button class="btn btn-secondary mr-2" (click)="addwodGroupModal()">Agregar grupo</button>
    <button class="btn btn-success" (click)="addExercise()" *ngIf="wod.wodGroups.length > 0">Agregar ejercicio</button>
  </div>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="card wod-group" *ngFor="let group of wod.wodGroups; let i = index" [attr.data-index]="i"
         (click)="setActiveWodGroup(i)" [class.active-group]="i == activeWodGroup" cdkDrag>
      <button class="x bg-danger" (click)="deleteGroup(i)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>

      <a [routerLink]="" (click)="editGroupDetail(group.detail)" class="group-detail">
        <label>{{group.detail}} <i class="fa fa-edit"></i></label>
      </a>

      <div class="">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let exerciseItem of group.exercises; let ei = index">

              <td class="col-10" [attr.colspan]="exerciseItem.value ? '1' : '2'">
                {{exerciseItem.exercise.name}} {{
((exerciseItem.modality.name != "Repeticiones") ?
                exerciseItem.modality.name : "")
                }} {{exerciseItem.units}} {{exerciseItem.modality.unit}}
              </td>
              <td class="col-10" *ngIf="exerciseItem.value">
                {{exerciseItem.value}} {{exerciseItem.mode}}
              </td>
              <td class="col-2 action-column">

                <a [routerLink]="" (click)="deleteItem(i,ei)" class="delete-button">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="div-btn-create">
      <button class="btn btn-secondary col-4 col-lg-2 btn-float-left btn-create" type="button"
              routerLink="/plantillas-wod">
        Cancelar
      </button>
      <button class="btn btn-success col-4 col-lg-2 btn-float-right btn-create" type="submit"
              (click)="save()">
        Guardar
      </button>
    </div>
  </div>
</section>

<button type="button" class="btn btn-primary d-none" id="group-name-modal" data-bs-toggle="modal"
        data-bs-target="#myModal"></button>

<!-- The Modal -->
<div class="modal modal-new-group" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nuevo grupo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group mt-3">
          <label class="control-label">Detalle:</label>
          <div class="formValidators">
            <input type="text" class="form-control" [(ngModel)]="detail"
                   (ngModelChange)="detail = $event.toUpperCase()">
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addwodGroup()"
                *ngIf="!editDetail">
          Crear
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editwodGroup()"
                *ngIf="editDetail">
          Guardar
        </button>
      </div>

    </div>
  </div>
</div>
