<section class="wrapper" *ngIf="!requesting && shift">
  <div class="container-fluid card p-0">

    <!-- cabecera del diálogo -->
    <div class="modal-header modal-title bg-success d-block">
      <h4 class="modal-title text-white text-center" *ngIf="!shift.attended">Asistencias - {{quotaAvailable}} disponible </h4>
      <h4 class="modal-title text-white text-center" *ngIf="shift.attended">Asistencia registrada </h4>
      <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
    </div>


    <!-- cuerpo del diálogo -->
    <div class="card-body" *ngIf="!shift.attended">
      <table *ngIf="!requestingList && attendances.length > 0" class="table table-bordered table-condensed cf scrollme user-table" id="no-more-tables">
        <thead class="cf">
          <tr>
            <th class="numeric"><span><input type="checkbox" [checked]="checkedAllAttendances" (change)="checkedAll()" /></span></th>
            <th class="numeric">{{shift.day}} {{shift.hour}}</th>
            <th class="numeric">Crédito Disponible</th>
            <th class="numeric">Vencimiento</th>
            <th class="numeric">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attendance of attendances">
            <td class="td-title" data-title=""><span><input type="checkbox" [checked]="attendance.attended" value="{{attendance.id}}" (change)="checkedAll()" /></span></td>
            <td data-title="Turno"><span>{{attendance.name}}</span></td>
            <td data-title="Créd. Disp."><span>{{(attendance.remainingCredit)}}</span></td>
            <td data-title="Vencimiento"><span>{{attendance.expiration | date: 'dd/MM/yyyy'}}</span></td>
            <td data-title="Acción">
              <button *ngIf="attendance.status == 1" class="btn btn-danger btn-xs btn-action-list" (click)="cancell(attendance.id, attendance.memberId)"><i class="fa fa-trash"></i></button>
              <button *ngIf="attendance.status == 2" class="btn btn-warning btn-xs btn-action-list text-white">Cancelado</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="w-100 text-center" *ngIf="requestingList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requestingList && attendances.length == 0" class="card card-body text-center mb-3">
        <h5>No hay socios registrados</h5>
      </div>
      <div *ngIf="viewBtnAddMember" class="row justify-content-center align-items-center">
        <div class="text-center mb-2">
          <button type="button" class="btn btn-info col-12 col-lg-4 text-white" (click)="viewSelectListMember()">Agregar socio</button>
        </div>
      </div>
      <div *ngIf="viewSelectAddMember" class="card card-body">
        <a class="dropdown-toggle" id="dropdown1" data-toggle="dropdown">
          <label class="form-label text-black">Socio:</label>
          <input type="text" class="form-control" placeholder="Buscar Socio" [(ngModel)]="filterMember" (click)="clearInput()" />
        </a>
        <div class="dropdown-menu form-control">
          <a *ngFor="let member of members  | searchFilterMember: filterMember " class="dropdown-item" (click)="selectMember(member)">{{member.lastName}} {{member.name}}</a>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6 btn-float-left">
            <button type="button" class="btn btn-outline-danger btn-block col-12" (click)="viewSelectListMember()">Cancelar</button>
          </div>
          <div class="col-12 col-lg-6 btn-float-right">
            <button type="button" class="btn btn-outline-success btn-block col-12" (click)="addMember()">Confirmar</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-2">
        <div class="text-center">
          <button type="button" class="btn btn-success col-12 col-lg-4 btn-create" (click)="registerAttendance()">Registrar Asistencia</button>
        </div>
      </div>

      <!-- pie del diálogo -->

    </div>

    <div class="card-body" *ngIf="shift.attended">
      <table *ngIf="members.length > 0" class="table table-bordered table-condensed cf scrollme user-table">
        <thead class="cf">
          <tr>
            <th class="numeric">Socio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td data-title="Acción">{{member.lastName}} {{member.name}}</td>
          </tr>
        </tbody>
      </table>
      <!-- pie del diálogo -->

    </div>

  </div>

  <button type="button" class="btn btn-secondary col-12 col-lg-3 btn-float-left btn-create mt-3" data-dismiss="modal" (click)="goBack()">Volver</button>

</section>

<section class="wrapper">
  <div class="w-100 text-center" *ngIf="requesting">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>

