<!-- Page Content -->
<section class="wrapper" [class.d-none]="requestingAssignment">
  <div class="task-panel " *ngIf="!requestingAssignment && periodization">
    <h4 class="table-title text-center" *ngIf="member">{{member.lastName}} {{member.name}} WOD - Nivel <span *ngIf="level">{{level}}</span><span *ngIf="!level"> no asignado</span></h4>
  </div>
  <hr *ngIf="!requestingAssignment && periodization" />
  <section class="">
    <div class="row">
      <div class=" col-12 col-lg-3 mb-4">

        <button *ngIf="!requestingAssignment && periodization && wods.length > 0" class="btn btn-primary w-100 mt-3 " type="button" data-toggle="modal" href="#modal-wod">
          Vista previa
        </button>

        <button *ngIf="!requestingAssignment && periodization" class="btn btn-success w-100 mt-3 mb-3" type="button" data-toggle="modal" href="#modal">
          Periodización
        </button>

        <button *ngIf="!requestingAssignment && periodization" class="btn btn-success w-100 mb-3" type="button" data-toggle="modal" href="#modalMedicalHistory">
          Historia Médica
        </button>

        <button *ngIf="!requestingAssignment && periodization && wods.length > 0" class="btn btn-danger w-100 mb-3" type="button" (click)="deleteWods()">
          Eliminar Wods
        </button>

        <div>
          <label class="control-label">Seleccionar Semana:</label>
          <div class="formValidators">
            <select id="select-week" class="form-control" [(ngModel)]="selectedWeekNumber" (change)="selectWeekNumber($event.target.value)">
              <option disabled value="0">Seleccionar</option>
              <option class="week-option week-not-planned" value="1">1</option>
              <option class="week-option week-not-planned" value="2">2</option>
              <option class="week-option week-not-planned" value="3">3</option>
              <option class="week-option week-not-planned" value="4">4</option>
            </select>
          </div>
        </div>
        <button *ngIf="!requestingAssignment && periodization" class="btn btn-success w-100 mt-3" type="button" (click)="goToPlanning()">
          Ir a planificación
        </button>

        <button *ngIf="!requestingAssignment && periodization" class="btn btn-secondary w-100 mt-3" type="button" [routerLink]="['/asignacion-plantilla']" [queryParams]="{memberId: member.id, week: '0'}">
          Volver
        </button>

      </div>


      <div class="col-12 col-lg-9" *ngIf="!requestingAssignment && periodization && weeklyTemplate">

        <h6 class="w-100 text-center p-3"><strong>Planificación semana {{weekNumber}}</strong></h6>
        <div class="form-group mt-3">
          <label class="control-label">Plantilla semanal: {{weeklyTemplate.name}}</label>
        </div>

        <!--<p [ngClass]="validatorsRequiredGoal ? 'validators': 'hide-validators'">*Debe seleccionar uno o más objetivos.</p>-->
        <div class="form-group mt-3 mb-3">
          <label class="control-label">Objetivos:</label>
          <div class="formValidators">
            <ul>
              <li *ngFor="let goal of getGoals(weeklyTemplate.goal)">{{ goal }}</li>
            </ul>
          </div>

          <!--<div class="formValidators" *ngIf="weeklyGoalsList.length == 0">
      <strong>No se asignaron objetivos</strong>
    </div>-->
        </div>

        <mat-tab-group [class.d-none]="requestingAssignment && wods.length == 0">

         
          <mat-tab *ngFor="let newWod of wods">
            <ng-template mat-tab-label>
              Wod Nº {{newWod.wodNumber}}

              <mat-icon class="example-tab-icon" [class.d-none]="!displayIconWodRemoving" (click)="deleteWod(newWod.wod.id)"><i class="fa fa-trash"></i></mat-icon>
            </ng-template>
            <app-wod-template-form [wod]="newWod.wod" [date]="newWod.date" [weekNumber]="weekNumber" [periodizationId]="periodization.id"
                                   [wodNumber]="newWod.wodNumber" [memberId]="memberId" [modeWodMember]="modeWodMember" [planned]="newWod.attended"
                                   (goBackEvent)="cancelWod()" (saveEvent)=deleteWod($event)></app-wod-template-form>
          </mat-tab>
        </mat-tab-group>


      </div>

    </div>
  </section>
</section>

<div class="w-100 text-center" *ngIf="requestingAssignment">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="modal fade" id="modal" *ngIf="periodization">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- cabecera del diálogo -->
      <div class="modal-header modal-title">
        <h4 class="modal-title">Periodización {{periodization.month}}/{{periodization.year}}</h4>
        <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success col-12 col-lg-4" [routerLink]="['/editar-periodizacion']" [queryParams]="{id: periodization.id}" data-dismiss="modal">Editar</button>

      </div>
      <!-- cuerpo del diálogo -->
      <div class="modal-body">
        <app-workout-periodizaion-detail [memberId]="memberId"></app-workout-periodizaion-detail>
      </div>
      <!-- pie del diálogo -->

    </div>
  </div>
</div>


<div class="modal fade" id="modal-wod">
  <div class="modal-dialog modal-dialog-full modal-fullscreen-xl-down">
    <div class="modal-content modal-content-full">
      <!-- cabecera del diálogo -->
      <div class="modal-header modal-title">
        <h4 class="modal-title">Planificación Semanal</h4>
        <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
      <!-- cuerpo del diálogo -->
      <div class="modal-body">
        <div class="row">
          <div *ngFor="let newWod of wods" class="col-12 col-lg-4">
            <app-wod-detail [wod]="newWod.wod" [wodNumber]="newWod.wodNumber"></app-wod-detail>
          </div>
        </div>
      </div>
      <!-- pie del diálogo -->
    </div>
  </div>
</div>

<div class="modal fade" id="modalMedicalHistory">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- cabecera del diálogo -->
      <div class="modal-header modal-title">
        <h4 class="modal-title">Historia Médica</h4>
        <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
      <!-- cuerpo del diálogo -->
      <div class="modal-body">
        <app-member-view [id]="memberId" [hideGoBack]="true"></app-member-view>
      </div>
      <!-- pie del diálogo -->
    </div>
  </div>
</div>
