<section class="wrapper" [ngClass]="{'view-debts': viewDebts}">
  <div class="row mt">
    <div class="col-md-12">
      <div class="task-panel" *ngIf="member">
        <h4 class="table-title mt-2">Deudas de {{member.lastName}} {{member.name}}</h4>
      </div>
      <hr>
      <section id="no-more-tables" *ngIf="!requestingListBalances && balances.length > 0">
        <table class="table table-bordered table-condensed cf user-table">
          <thead class="cf bg-success text-white">
            <tr>
              <th class="numeric">Fecha</th>
              <th class="numeric">Concepto</th>
              <th class="numeric">Detalle</th>
              <th class="numeric">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr class="scrollme" *ngFor="let balance of balances">
              <td data-title="Fecha"><span>{{balance.date  | date: 'dd/MM/yyyy h:mm:ss a'}}</span></td>
              <td data-title="Concepto"><span *ngIf="balance.transaction == 1">Venta</span><span *ngIf="balance.transaction == 2">Cuota</span></td>
              <td data-title="Detalle">
                <span>
                  <button class="btn btn-primary btn-xs btn-action-list" (click)="getTransaction(balance)">ver detalle</button>
                </span>
              </td>
              <td data-title="Saldo"><span *ngIf="balance.balance>0">{{(balance.balance-balance.pay) | currency}}</span><span *ngIf="balance.balance<0">{{balance.balance * -1}} (a favor)</span></td>
          </tbody>
        </table>
        <div>
          <button type="button" class="btn btn-secondary col-3 col-lg-2 pull-left btn-create" routerLink="/deudas-list">Volver</button>
        </div>
      </section>
      <div class="w-100 text-center mt-3" *ngIf="requestingListBalances">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="mt-3" *ngIf="!requestingListBalances && balances.length == 0">
        <h5>No hay deudas registradas</h5>
      </div>
    </div>
  </div>
</section>

<button id="modal-detail" data-toggle="modal" href="#myModalSale" class="d-none"></button>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Abrir ventana de diálogo</button>-->

<section class="modal mt-4" id="myModalSale">
  <div class="container-fluid modal-content modal-lg p-0">

    <!-- cabecera del diálogo -->
    <div class="modal-header modal-title bg-success d-block">
      <h4 class="modal-title text-white text-center">Detalle de la Venta</h4>
      <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
    </div>

    <!-- cuerpo del diálogo -->
    <div class="modal-body" *ngIf="!requestingDetailSale && sale">
      <table class="table table-bordered table-condensed cf scrollme user-table">
        <thead class="cf">
          <tr>
            <th colspan="4">Registro: {{sale.userName}}</th>
          </tr>
          <tr>
            <th colspan="2">Socio: {{member.lastName}} {{member.name}}</th>
            <th colspan="2">Fecha: {{sale.date | date: 'dd/MM/yyyy h:mm:ss a'}}</th>
          </tr>
          <tr>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of detailsSale" class="scrollme">
            <td class="td-title" data-title="Descripcion">{{detail.product.description}}</td>
            <td class="td-title" data-title="Cantidad">{{detail.quantity}}</td>
            <td class="td-title" data-title="Precio">{{detail.price | currency}}</td>
            <td class="td-title" data-title="Total">{{detail.quantity*detail.price | currency}}</td>
          </tr>
        </tbody>
      </table>

      <!-- pie del diálogo -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-success col-3 col-lg-2" data-dismiss="modal">Aceptar</button>
      </div>

    </div>
    <div class="w-100 text-center mt-3" *ngIf="requestingDetailSale">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="mt-3" *ngIf="!requestingDetailSale && !sale">
      <h5>Hubo un problema al intentar mostrar detalle</h5>
    </div>
  </div>

</section>


<button id="modal-fee-detail" data-toggle="modal" href="#myModalFee" class="d-none"></button>

<section class="modal mt-4" id="myModalFee">
  <div class="container-fluid modal-content modal-lg p-0">

    <!-- cabecera del diálogo -->
    <div class="modal-header modal-title bg-success d-block">
      <h4 class="modal-title text-white text-center">Detalle de la Cuota</h4>
    </div>

    <!-- cuerpo del diálogo -->
    <div class="modal-body" *ngIf="!requestingDetailFee && fee">
      <table class="table table-bordered table-condensed cf scrollme user-table">
        <thead class="cf">
          <tr>
            <th colspan="2">Registro: {{fee.userName}}</th>
          </tr>
          <tr *ngIf="fee.member">
            <th>Socio: {{fee.member.lastName}} {{fee.member.name}}</th>
            <th>Fecha: {{fee.date | date: 'dd/MM/yyyy h:mm:ss a'}}</th>
          </tr>
          <tr>
            <th>Plan</th>
            <td class="td-title" data-title="Plan">{{fee.member.plan.name}}</td>
          </tr>
          <tr>
            <th>Alta</th>
            <td class="td-title" data-title="Alta">{{fee.from | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <th>Vencimiento</th>
            <td class="td-title" data-title="Vencimiento">{{fee.to | date: 'dd/MM/yyyy'}}</td>
          </tr>
          <tr>
            <th>Creditos</th>
            <td class="td-title" data-title="Creditos">{{fee.credits}}</td>
          </tr>
          <tr>
            <th *ngIf="fee.promotion">Promoción</th>
            <td *ngIf="fee.promotion" class="td-title" data-title="Promoción">{{fee.promotion | currency}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <td class="td-title" data-title="Total">{{fee.total | currency}}</td>
          </tr>
        </thead>
      </table>

      <!-- pie del diálogo -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-success col-3 col-lg-2" data-dismiss="modal">Aceptar</button>
      </div>

    </div>
    <div class="w-100 text-center mt-3" *ngIf="requestingDetailFee">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="mt-3" *ngIf="!requestingDetailFee && !fee">
      <h5>Hubo un problema al intentar mostrar detalle</h5>
    </div>
  </div>
</section>

