<section class="wrapper">
  <app-medical-history-form [class.d-none]="requesting" [age]="age" (requesting)="finishRequesting()"></app-medical-history-form>
  <div class="container-fluid div-btn-create"  *ngIf="!requesting">
    <button class="btn btn-secondary col-4 col-lg-2 btn-float-left btn-create" type="submit" [routerLink]="['/member-list']">Volver</button>
    <button *ngIf="planType == 1" class="btn btn-success col-4 col-lg-2 btn-float-right btn-create" type="submit" (click)="submit()">Siguiente</button>
    <button *ngIf="planType == 2" class="btn btn-success col-4 col-lg-2 btn-float-right btn-create" type="submit" (click)="submit()">Guardar</button>
  </div>
</section>
<section class="wrapper" *ngIf="requesting">
  <div class="w-100 text-center">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>

