.table-style {
  padding: .0rem .0rem !important;
}

.total-responsive {
  display: none;
  padding-left: 0px;
  text-align: center;
}

.table > :not(:first-child) {
  border-top: 1px solid black;
}

.td-button:hover{
    cursor: pointer;
}

.table-td td {
    color: black;
    text-align: right;
}

.table-td-total td {
  color: black;
  font-weight: 500;
  text-align: right;
}

.header-cash-positve {
  background: #38c172;
  padding-left: 0px !important;
  text-align: center !important;
  height: auto;
  color: white;
  font-weight:bold;
  font-size: 18px;
}

.header-cash-negative {
  background: red;
  padding-left: 0px !important;
  text-align: center !important;
  height: auto;
  color: wheat;
  font-weight: bold;
  font-size: 18px;
}

.btn-opening {
  height: 100px;
  font-weight: 700;
  font-size: larger;
  margin-top: 2.5rem;
}

.td-button-opening {
  height: 200px;
}

.td-height td {
  height: 50px;
}

.cursor {
    cursor: pointer;
}



.total-non-responsive {
  display: normal;
}

.view-btn-add {
  display: none;
}

#no-more-tables tr.total > td.initial-cash {
  padding-left: 0px;
  text-align: center;
  width: 50%;
}

#no-more-tables tr.total > td.end-cash {
  padding-left: 0px;
  text-align: center;
  width: 50%;
}

.display-btns-menu {
  display: none;
}

.display-table-menu{
    display: inline-table;
}

@media only screen and (max-width: 800px) {
  #no-more-tables {
     /* padding-right: 2rem;*/
  }

  .user-table {
    font-size: 13px;
  }


  .header-cash-positve {
    background: #38c172;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }

  .header-cash-negative {
    background: red;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }

  .view-btn-add {
    display: block;
    text-align: center;
  }

  .display-btns-menu{
      display: block;
  }

  .display-table-menu {
    display: none;
  }


}
