<section class="wrapper" *ngIf="!openingView && cash">
  <div class="row mt">
    <div class="col-md-12">
      <section id="no-more-tables">
        <hr>
        <table class="table table-bordered">
          <tbody>
            <tr [ngClass]="{'header-cash-positve': currentCash>=0, 'header-cash-negative': currentCash<0 }">
              <th colspan="5">FECHA DE CAJA: {{cash.opening | date: 'dd/MM/yyyy'}} <br /> CAJA ACTUAL: {{currentCash | currency}}</th>
            </tr>
            <tr>
              <th data-title="CI" class="text-center col-lg-6"><strong>CI: {{startingBalance | currency}}</strong></th>
              <th data-title="SF del mes" class="text-center col-lg-6"><strong>Saldo final del mes: {{monthlyCash | currency}}</strong></th>
            </tr>
            <tr>
              <th data-title="Ingresos" class="text-center"><strong>ENTRADAS: {{(feeTotalPay  + saleTotalPay + incomeTotal) | currency}}</strong> </th>
              <th data-title="Egresos" class="text-center"><strong>SALIDAS: {{(outflowTotalPay + withdrawalTotal) | currency}}</strong></th>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered table-condensed cf">
          <thead class="cf">

            <tr class="scrollme">
              <th colspan="1" class="bg-info text-center td-button text-white" [routerLink]="['/cuota-agregar']">
                Cuotas
              </th>
              <th colspan="1" class="bg-success text-center td-button text-white" [routerLink]="['/venta-agregar']">
                Ventas
              </th>
              <th colspan="1" class="bg-warning text-center td-button text-white" [routerLink]="['/ingreso']">
                Ingresos
              </th>
              <th colspan="1" class="bg-danger text-center td-button text-white" [routerLink]="['/egreso']" [queryParams]="{currentCash: currentCash}">
                Egresos
              </th>
              <th colspan="1" class="bg-secondary text-center td-button text-white" [routerLink]="['/retiro']" [queryParams]="{currentCash: currentCash}">
                Retiros
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="scrollme">
              <td data-title="Cuotas">
                <table class="table table-bordered table-condensed table-td">
                  <tbody>
                    <tr class="view-btn-add">
                      <td>
                        <button type="button" class="btn btn-info text-white" [routerLink]="['/cuota-agregar']">
                          <i class="fa fa-plus-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let fee of fees; index as i">
                      <td class="cursor" (click)="getDetailFee(fee)">{{fee.pay | currency}}</td>
                    </tr>
                    <tr class="total-responsive table-td-total">
                      <td class="bg-info cursor">Total: {{feeTotalPay | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Ventas">
                <table class="table table-bordered table-condensed cf table-td">
                  <tbody>
                    <tr class="view-btn-add">
                      <td class="view-btn-add">
                        <button type="button" class="btn btn-success" [routerLink]="['/venta-agregar']">
                          <i class="fa fa-plus-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let sale of sales; index as i">
                      <td [ngStyle]="{'color':sale.status==2?'red':'#09b4f5'}" class="cursor" (click)="getDetailsSale(sale)">{{sale.pay | currency}}</td>
                    </tr>
                    <tr class="total-responsive table-td-total">
                      <td class="bg-success cursor">Total: {{saleTotalPay | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Ingresos">
                <table class="table table-bordered table-condensed cf table-td">
                  <tbody>
                    <tr class="view-btn-add">
                      <td class="view-btn-add">
                        <button type="button" class="btn btn-warning text-white" [routerLink]="['/ingreso']">
                          <i class="fa fa-plus-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let income of incomes; index as i">
                      <td class="cursor" (click)="getDetailIncome(income)">{{income.amount | currency}}</td>
                    </tr>
                    <tr class="total-responsive table-td-total">
                      <td class="bg-warning cursor">Total: {{incomeTotal | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Egresos">
                <table class="table table-bordered table-condensed cf table-td">
                  <tbody>
                    <tr class="view-btn-add">
                      <td class="view-btn-add">
                        <button type="button" class="btn btn-danger" [routerLink]="['/egreso']" [queryParams]="{currentCash: currentCash}">
                          <i class="fa fa-plus-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let outflow of outflows; index as i">
                      <td class="cursor" (click)="getDetailOutflow(outflow)">{{outflow.pay | currency}}</td>
                    </tr>
                    <tr class="total-responsive table-td-total">
                      <td class="bg-danger cursor">Total: {{outflowTotalPay | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Retiros">
                <table class="table table-bordered table-condensed cf table-td">
                  <tbody>
                    <tr class="view-btn-add">
                      <td class="view-btn-add">
                        <button type="button" class="btn btn-secondary" [routerLink]="['/retiro']" [queryParams]="{currentCash: currentCash}">
                          <i class="fa fa-plus-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let withdrawal of withdrawals; index as i">
                      <td class="cursor" (click)="getDetailWithdrawal(withdrawal)">{{withdrawal.amount | currency}}</td>
                    </tr>
                    <tr class="total-responsive table-td-total">
                      <td class="bg-secondary cursor">Total: {{withdrawalTotal | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          <tfoot class="total-non-responsive table-td-total">
            <tr class="scrollme">
              <td class="cursor">{{feeTotalPay | currency}}</td>
              <td class="cursor">{{saleTotalPay | currency}}</td>
              <td class="cursor">{{incomeTotal | currency}}</td>
              <td class="cursor">{{outflowTotalPay | currency}}</td>
              <td class="cursor">{{withdrawalTotal | currency}}</td>
            </tr>
          </tfoot>
        </table>
        <div><button class="btn btn-outline-dark btn-block form-control" (click)="toClose()">Cerrar Caja</button></div>
      </section>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->
  <div class="w-100 text-center" *ngIf="requestingCash && openingView">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>

<section class="wrapper"  *ngIf="openingView">
  <section id="no-more-tables" *ngIf="!requestingCash">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th colspan="6" [ngClass]="{'header-cash-positve': currentCash>=0, 'header-cash-negative': currentCash<0 }">
            <span *ngIf="cash">FECHA DE CIRRE DE CAJA: {{cash.closing | date: 'dd/MM/yyyy'}}<br /> CAJA ACTUAL: {{currentCash | currency}}</span>
            <span *ngIf="!cash">No hay registro de cajas anteriores.</span>
          </th>
        </tr>
        <tr class="td-height row m-0">
          <th colspan="3" data-title="CI" class="text-center col-12 col-lg-6"><strong>CI: <span *ngIf="cash">{{cash.startingBalance | currency}}</span></strong></th>
          <th colspan="3" data-title="CF" class="text-center col-12 col-lg-6"><strong>CF: <span *ngIf="cash">{{cash.endingBalance | currency}}</span></strong></th>
        </tr>
        <tr class="td-height">
          <th colspan="6" data-title="CAJA MENSUAL" class="text-center"><strong>CAJA MENSUAL <br /> Saldo Final: <span *ngIf="cash">{{monthlyCash | currency}}</span></strong></th>
        </tr>
        <tr class="td-button-opening">
          <th colspan="6" class="text-center td-button text-white"><button class="btn btn-success col-4 col-lg-2 btn-opening" type="submit" (click)="openingCash()">Abrir Caja</button></th>
        </tr>
      </tbody>
    </table>
  </section>
  <div class="w-100 text-center" *ngIf="requestingOpeningCash">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>
<app-sale-edit (updateSales)="getAllSale()"></app-sale-edit>
<app-outflow-detail (updateOutflows)="getAllOutflow()"></app-outflow-detail>
<app-fee-detail (updateFee)="getAllFee()"></app-fee-detail>
<app-withdrawal-detail (updateWithdrawal)="getAllWithdrawal()"></app-withdrawal-detail>
<app-income-detail (updateIncome)="getAllIncome()"></app-income-detail>
