<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <hr>
      <section id="no-more-tables">
        <table class="table table-bordered table-condensed cf">
          <thead class="cf">
            <tr class="scrollme">
              <th colspan="4" class="text-center bg-danger text-center">FECHA DE CAJA: 22/10/21 vie - CAJA ACTUAL: $10</th>
            </tr>
            <tr class="scrollme">
              <th colspan="2" class="text-center">CI: $100</th>
              <th colspan="2" class="text-center">Saldo final: $440700<button class="btn btn-primary m-2"><i class="fa fa-plus"></i></button></th>
            </tr>
            <tr class="scrollme">
              <th colspan="2" class="text-center">TOTAL: $14.150</th>
              <th colspan="2" class="text-center">TOTAL: $14.250</th>
            </tr>
            <tr class="scrollme">
              <th colspan="1" class="bg-info">
                <button class="btn btn-info form-control bg-info">Cuotas</button>
              </th>
              <th colspan="1" class="bg-success">
                <button class="btn btn-success form-control bg-success">Ventas</button>
              </th>
              <th colspan="1" class="bg-danger">
                <button class="btn btn-danger form-control bg-danger">Egresos</button>
              </th>
              <th colspan="1" class="bg-secondary bg-secondary">
                <button class="btn btn-secondary form-control">Retiros</button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="scrollme">
              <td data-title="Cuotas">
                <table class="table table-bordered table-condensed cf">
                  <tbody>
                    <tr>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>2000</td>
                    </tr>
                    <tr>
                      <td>1500</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Ventas">
                <table class="table table-bordered table-condensed cf">
                  <tbody>
                    <tr>
                      <td>300</td>
                    </tr>
                    <tr>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>1500</td>
                    </tr>
                    <tr>
                      <td>800</td>
                    </tr>
                    <tr>
                      <td>750</td>
                    </tr>
                    <tr>
                      <td>2000</td>
                    </tr>
                    <tr>
                      <td>900</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Egresos">
                <table class="table table-bordered table-condensed cf">
                  <tbody>
                    <tr>
                      <td>2500</td>
                    </tr>
                    <tr>
                      <td>3000</td>
                    </tr>
                    <tr>
                      <td>1500</td>
                  </tbody>
                </table>
              </td>
              <td data-title="Retiros">
                <table class="table table-bordered table-condensed cf">
                  <tbody>
                    <tr>
                      <td>2150</td>
                    </tr>
                    <tr>
                      <td>1500</td>
                    </tr>
                    <tr>
                      <td>1500</td>
                    </tr>
                    <tr>
                      <td>2000</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          <tfoot class="cf">
            <tr class="scrollme">
              <td data-title="Cuotas">5700</td>
              <td data-title="Ventas">8450</td>
              <td data-title="Egresos">7000</td>
              <td data-title="Retiros">7150</td>
            </tr>
          </tfoot>
        </table>
        <div><button class="btn btn-dark form-control">Cerrar Caja</button></div>
      </section>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->
</section>
