<section class="wrapper">
  <div class="row mt">
    <div class="col-lg-12">
      <div class="task-panel ">
        <h4 class="table-title">Socios</h4>
        <button type="button" class="btn btn-success btn-float-right" routerLink="/member-create">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card">
        <div class="row card-body">
          <div class="col-9 col-lg-12">
            <input type="text" name="filterMember" placeholder="Buscar" class="form-control" [(ngModel)]="filterMember">
          </div>
          <div class="col-3 view-btn-filter">
            <button class="btn btn-outline-success"><i class="fa fa-filter date-filter" data-toggle="modal" href="#myModalDateFilter"></i></button>
          </div>
        </div>
      </div>
      <div class="w-100 text-center" *ngIf="requestingList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requestingList && members.length == 0">
        <h5>No hay socios registrados</h5>
      </div>
      <section *ngIf="!requestingList && members.length > 0"  id="no-more-tables">
        <table class="table table-hover table-bordered table-condensed  cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Estado</th>
              <th class="numeric">Apellido y Nombre</th>
              <th class="numeric">Teléfono</th>
              <th class="numeric">Plan</th>
              <th class="numeric">Créditos</th>
              <th class="numeric"><span>Vencimiento</span>&nbsp; <i class="fa fa-filter date-filter" data-toggle="modal" href="#myModalDateFilter"></i></th>
              <th class="numeric">Negativos</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let member of members | searchFilterMember: filterMember">
              <td class="td-title" data-title="Estado"><span *ngIf="member.status =='Activo'" class="badge bg-success">Activo</span><span *ngIf="member.status == 'No Activo'" class="badge bg-danger">No Activo</span></td>
              <td class="td-title" data-title="Nombre"><span>{{member.lastName}} {{member.name}}</span></td>
              <td class="td-title" data-title="Teléfono"><span>{{member.phone}}</span></td>
              <td class="td-title" data-title="Plan"><span>{{member.namePlan}}</span></td>
              <td class="td-title" data-title="Créditos"><span>{{member.credit}}</span></td>
              <td class="td-title" data-title="Vencimiento"><span>{{member.expiration | date: 'dd/MM/yyyy'}}</span></td>
              <td class="td-title" data-title="Negativos"><span>{{member.negative}}</span></td>
              <td class="td-title td-padding-action" data-title="Acción">
                <div class="text-center">
                  <button class="btn btn-success btn-action-list" data-toggle="modal" href="#myModalFee" (click)="getDetailsFee(member.id)"><i class="fa fa-usd"></i></button>
                  <button class="btn btn-primary btn-action-list" [routerLink]="['/reservas']" [queryParams]="{id:member.id}"><i class="fa fa-check"></i></button>
                  <button class="btn btn-info btn-action-list" [routerLink]="['/historia-médica-crear']" [queryParams]="{id:member.id}"><i class="fa fa-stethoscope "></i></button>
                </div>
                <div class="text-center">
                  <button class="btn btn-primary btn-action-list" [routerLink]="['/member-view']" [queryParams]="{id:member.id}"><i class="fa fa-info-circle"></i></button>
                  <button class="btn btn-warning btn-action-list" [routerLink]="['/member-edit']" [queryParams]="{id:member.id}"><i class="fa fa-pencil-square"></i></button>
                  <button class="btn btn-danger btn-action-list" (click)="delete(member.id)"><i class="fa fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <!-- /content-panel -->
  </div>
</section>

<section class="modal mt-4" id="myModalFee">
  <div class="container-fluid modal-content modal-lg p-0">

    <!-- cabecera del diálogo -->
    <div class="modal-header modal-title bg-success d-block">
      <h4 class="modal-title text-white text-center">Créditos</h4>
      <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
    </div>

    <!-- cuerpo del diálogo -->
    <div class="modal-body">
      <div class="row justify-content-center align-items-center mb-2">
        <div class="col-lg-4 text-center">
          <button type="button" class="btn btn-success col-8 col-lg-12 btn-font" (click)="viewChangeDueDate()">Cambiar fecha de vencimiento</button>
        </div>
      </div>
      <div *ngIf="viewDueDate">
        <div class="row justify-content-center align-items-center m-auto">
          <div class="col-lg-4 center card">
            <label class="form-label text-center mt-1">Ingresar nueva fecha</label>
            <div class="row">
              <div class="col-12 mb-2">
                <input type="date" class="form-control col-12" [(ngModel)]="dueDate" />
              </div>
            </div>
            <div class="row justify-content-center align-items-center mb-2">
              <div class="col-6 text-center">
                <button type="button" class="btn btn-success col-12" (click)="changeDueDate()">Confirmar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2">
        <section *ngIf="!requestingFees && fees.length > 0" id="no-more-tables">
          <table class="table table-bordered table-condensed cf scrollme user-table bg-danger text-white table-fee-font">
            <thead>
              <tr>
                <th>Cantidad</th>
                <th>Fecha Alta</th>
                <th>Fecha Vcto.</th>
                <th>Plan</th>
              </tr>
            </thead>
            <tbody>
              <tr class="scrollme" *ngFor="let fee of fees">
                <td class="td-title" data-title="Cantidad">{{fee.credits}}</td>
                <td class="td-title" data-title="Fecha Alta">{{fee.from | date: 'dd/MM/yyyy'}}</td>
                <td class="td-title" data-title="Fecha Vcto.">{{fee.to | date: 'dd/MM/yyyy'}}</td>
                <td class="td-title" data-title="Plan">{{fee.planName}}</td>
              </tr>
            </tbody>
          </table>
        </section>
        <div class="w-100 text-center" *ngIf="requestingFees">
          <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!requestingFees && fees.length == 0">
          <h5>No hay cuotas registradas</h5>
        </div>
      </div>

      <!-- pie del diálogo -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-success col-3 col-lg-2" data-dismiss="modal" (click)="closeChangeDueDate()">Aceptar</button>
      </div>

    </div>
  </div>
</section>

<section class="modal mt-4" id="myModalDateFilter">
  <div class="container-fluid modal-content modal-sm p-0">

    <!-- cabecera del diálogo -->
    <div class="modal-header modal-title bg-success d-block">
      <h4 class="modal-title text-white text-center">Seleccionar fechas:</h4>
      <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
    </div>

    <!-- cuerpo del diálogo -->
    <div class="modal-body">
      <div class="row justify-content-center align-items-center m-auto">
        <div class="col-12 center card">
          <label class="form-label text-center mt-1">Desde:</label>
          <div class="row">
            <div class="col-12 mb-2">
              <input type="date" class="form-control col-12" [(ngModel)]="from" />
            </div>
          </div>
        </div>
        <div class="col-12 center card mt-2">
          <label class="form-label text-center mt-1">Hasta:</label>
          <div class="row">
            <div class="col-12 mb-2">
              <input type="date" class="form-control col-12" [(ngModel)]="to" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- pie del diálogo -->
    <div class="modal-footer p-0 pb-1">
      <button type="button" class="btn btn-danger col-4" data-dismiss="modal" (click)="deleteFilter()">Quitar</button>
      <button type="button" class="btn btn-success col-4 me-3" data-dismiss="modal" (click)="filter()">Aplicar</button>
    </div>

  </div>
</section>
