.btn-action-list {
  height: 35px;
  width: 35px;
  margin: 2px;
  font-size: 13px;
}

.btn-font {
    font-size: 15px;
}

tr.span-margin > td > span {
  margin-left: 15px;
}

td.text-ajust {
  text-overflow: ellipsis;
}

.td-padding-action {
    padding: 0rem;
}

.table-fee-font {
  font-size: small;
}

.span-fee-font {
  font-size: 13px;
}

.date-filter:hover {
  color: #38c172;
  cursor: pointer !important;
}

.view-btn-filter{
    display: none;
}



@media only screen and (max-width: 800px) {
  #no-more-tables td {
    padding-left: 30%;
  }

  .user-table {
    font-size: 13px;
  }

  .td-padding-action {
    padding: 0.5rem;
  }

  .view-btn-filter{
      display:block;
  }
}
