<section class="wrapper" *ngIf="!requesting">
  <div class="form-group mt-3">
    <label class="control-label">Nombre:</label>
    <div class="formValidators">
      <input type="text" class="form-control" [(ngModel)]="name">
      <p [ngClass]="validatorsRequiredName ? 'validators': 'hide-validators'">*Debe ingresar un nombre.</p>
    </div>
  </div>
  <div class="form-group mt-3">
    <label class="col-12 control-label">Asignar Objetivo:</label>
    <ng-multiselect-dropdown [settings]="weeklyGoalsDropdownSettings"
                             [data]="weeklyGoals"
                             [placeholder]="'Seleccionar...'"
                             (onSelect)="onItemSelect($event)"
                             (onSelectAll)="onSelectAll($event)"
                             (onDeSelect)="onItemDeSelect($event)"
                             (onDeSelectAll)="onDeSelectAll()">
    </ng-multiselect-dropdown>
  </div>
  <p [ngClass]="validatorsRequiredGoal ? 'validators': 'hide-validators'">*Debe seleccionar uno o más objetivos.</p>
  <div class="form-group mt-3 mb-3">
    <label class="control-label">Objetivos:</label>
    <div class="formValidators">
      <ul>
        <li *ngFor="let weeklyGoal of weeklyGoalsList">{{weeklyGoal.goal}}</li>
      </ul>
    </div>
    <div class="formValidators" *ngIf="weeklyGoalsList.length == 0">
      <strong>No se asignaron objetivos</strong>
    </div>
  </div>

  

  <div class="form-group mt-3">
    <label class="control-label">Modalidad:</label>
    <div class="formValidators">
      <ng-select class="custom" [items]="modalities" [(ngModel)]="selectedModality" bindLabel="name" bindValue="id"
                 selectOnTab="true" placeholder="Seleccionar" notFoundText="No hay modalidades" (change)="selectModality()">
      </ng-select>
      <p [ngClass]="validatorsRequiredModality ? 'validators': 'hide-validators'">*Debe seleccionar una modalidad.</p>
    </div>
  </div>


  <div class="button-box">
    <button class="btn btn-secondary mr-2" (click)="addWodGroup()">Agregar bloque</button>
    <!--<button class="btn btn-success" (click)="addExercise()" *ngIf="wod.wodGroups.length > 0">Agregar ejercicio</button>-->
  </div>
  <app-shortest-possible-time [class.d-none]="modality != 'Tiempo'" (getRounds)="getRounds($event)" (getExercise)="getExercise($event)" [modeWodMember]="modeWodMember"></app-shortest-possible-time>
  <app-amrap [class.d-none]="modality != 'AMRAP'" (getTime)="getTime($event)" (getExercise)="getExercise($event)" [modeWodMember]="modeWodMember"></app-amrap>
  <app-emom [class.d-none]="modality != 'EMOM'" (getExercise)="getExercise($event)" [modeWodMember]="modeWodMember"></app-emom>
  <app-staggered [class.d-none]="modality != 'Escalera'" [modeEdit]="modeEditStaggered" (getDetail)="getDetail($event)" (getExercise)="getExercise($event)" [modeWodMember]="modeWodMember"></app-staggered>
  <app-timers [class.d-none]="modality != 'Timers'" (getRounds)="getRounds($event)" (getExercise)="getExercise($event)" [modeWodMember]="modeWodMember"></app-timers>
  <app-rest-time [class.d-none]="modality != 'Rest Time'" (getDetail)="getDetail($event)" (getExercise)="getExercise($event)" [modeWodMember]="modeWodMember"></app-rest-time>

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="card wod-group" *ngFor="let group of wod.wodGroups; let i = index" [attr.data-index]="i"
         (click)="setActiveWodGroup(i)" [class.active-group]="i == activeWodGroup" cdkDrag>
      <button class="x bg-danger" (click)="deleteGroup(i)">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>

      <a [routerLink]="" (click)="editGroupDetail(group.detail)" class="group-detail">
        <label>{{group.detail}} </label>
      </a>

      <div class="">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let exerciseItem of group.exercises; let ei = index" >

              <td class="col-9" [attr.colspan]="exerciseItem.value ? '1' : '2'">
                {{exerciseItem.exercise.name}} - <span *ngIf="exerciseItem.modality !='Timers'">{{ exerciseItem.units }} {{exerciseItem.unitType}}</span>
                <span *ngIf="exerciseItem.modality == 'Timers'">Tiempo de ejercicio: {{ exerciseItem.timeWork }} - Tiempo de descanso: {{exerciseItem.timeRest}}</span>
              </td>
              <td class="col-2">
                {{exerciseItem.intensityValue}} {{exerciseItem.intensityType}}
              </td>
              <td class="col-2 action-column">
                <a [routerLink]="" (click)="editExerciseItem(exerciseItem, ei, i)" class="delete-button me-2">
                  <i class="fa fa-edit"></i>
                </a>
                <a [routerLink]="" (click)="deleteItem(i, ei)" class="delete-button">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>

              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="div-btn-create">
      <button class="btn btn-secondary col-12 col-lg-2 btn-float-left btn-create" type="button"
              routerLink="/plantillas-wod">
        Cancelar
      </button>
      <button class="btn btn-success col-12 col-lg-2 btn-float-right btn-create" type="submit"
              (click)="save()">
        Guardar
      </button>
    </div>
  </div>
</section>

<section class="wrapper">
  <div class="w-100 text-center" *ngIf="requesting">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>

<button type="button" class="btn btn-primary d-none" id="group-name-modal" data-bs-toggle="modal"
        data-bs-target="#myModal"></button>

<!-- The Modal -->
<div class="modal modal-new-group" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Nuevo grupo</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group mt-3">
          <label class="control-label">Detalle:</label>
          <div class="formValidators">
            <input type="text" class="form-control" [(ngModel)]="detail"
                   (ngModelChange)="detail = $event.toUpperCase()">
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addWodGroup()"
                *ngIf="!editDetail">
          Crear
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editwodGroup()"
                *ngIf="editDetail">
          Guardar
        </button>
      </div>

    </div>
  </div>
</div>
