<section>


  <h6 class="status-tittle w-100 text-center p-3">{{date | date: 'dd-MM-yyyy'}}</h6>
  <label class="label-goal">Objetivo: </label>
  <div class="formValidators">
    <ul>
      <li *ngFor="let goal of getGoals(wod.goal)">{{goal}}</li>
    </ul>
  </div>
  <div class="formValidators" *ngIf="goalsList.length == 0">
    <strong>No se asignaron objetivos</strong>
  </div>
  <div *ngIf="wod">
    <div class="wod-group" *ngFor="let group of wod.wodGroups; let i = index">

      <label>{{group.detail}}</label>

      <div class="">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let exerciseItem of group.exercises; let ei = index">
              <td class="col-1">
                {{exerciseItem.units}}
              </td>
              <td class="col-10" [attr.colspan]="exerciseItem.value ? '1' : '2'">
                {{exerciseItem.exercise.name}}
              </td>
              <td class="col-1" *ngIf="exerciseItem.value">
                {{exerciseItem.value}} {{exerciseItem.mode}}
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
