<section class="wrapper">
  <div class="row mt">
    <div class="col-12">
      <div class="task-panel pb-2">
        <h4 class="table-title">Compras</h4>
        <button type="button" class="btn btn-success col-xl-2 col-12 btn-float-right" routerLink="/compra-crear">Agregar</button>
      </div>
      <hr>
      <section *ngIf="!requesting && purchases.length>0" id="no-more-tables" class="mt-2 tab-pane fade show active">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Fecha</th>
              <th class="numeric">Proveedor</th>
              <th class="numeric">Total</th>
              <th class="numeric">Usuario</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let purchase of purchases" class="scrollme span-margin">
              <td class="td-title text-ajust" data-title="Fecha"><span>{{purchase.date | date: 'dd/MM/yyyy h:mm:ss a'}}</span></td>
              <td class="td-title" data-title="Proveedor"><span>{{purchase.supplier}}</span></td>
              <td class="td-title" data-title="Total"><span>{{purchase.total}}</span></td>
              <td class="td-title" data-title="Usuario"><span>{{purchase.user.lastName}} {{purchase.user.name}}</span></td>
              <td class="td-title" data-title="Acción">
                <span class="btn-action-container">
                  <button class="btn btn-info btn-xs btn-action-list" [routerLink]="['/purchase-detail']" [queryParams]="{id:purchase.id}"><i class="fa fa-info-circle"></i></button>
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(purchase.id)"><i class="fa fa-trash"></i></button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="w-100 text-center" *ngIf="requesting">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requesting && purchases.length == 0">
        <h5>No hay compras registradas</h5>
      </div>

      <div class="mt-3 col-lg-12" *ngIf="!requesting">
        <button class="btn btn-secondary col-12 col-lg-2 pull-left" type="submit" [routerLink]="['/productos-list']">Volver</button>
      </div>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->
</section>
<section class="wrapper">
  
</section>
