<section class="wrapper">
  <div *ngIf="user">
    <div class="card card-header div-header text-center">
      <h4 class="text-white">Datos personales</h4>
    </div>


    <div class="card bg-ligth mb-2 text-center">
      <div class="div-question text-white">Apellido:</div>
      <div class="div-response"><span>{{user.lastName}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center">
      <div class="div-question text-white">Nombre:</div>
      <div class="div-response"><span>{{user.name}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center">
      <div class="div-question text-white">Fecha de Nacimiento:</div>
      <div class="div-response"><span>{{user.birthDate | date: 'dd/MM/yyyy'}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center">
      <div class="div-question text-white">Domicilio:</div>
      <div class="div-response"><span>{{user.address}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center" *ngIf="userType == 2">
      <div class="div-question text-white">Contacto de emergencia:</div>
      <div class="div-response"><span>{{user.emergencyContact}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center" *ngIf="userType == 2">
      <div class="div-question text-white">Telefono de emergencia:</div>
      <div class="div-response"><span>{{user.emergencyPhone}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center">
      <div class="div-question text-white">Telefono:</div>
      <div class="div-response"><span>{{user.phone}}</span></div>
    </div>
    <div class="card bg-ligth mb-2 text-center">
      <div class="div-question text-white">Email:</div>
      <div class="div-response"><span>{{user.email}}</span></div>
    </div>
    <button type="button" class="btn btn-outline-success col-12" (click)="modifyPersonalInformation()">Modificar datos personales</button>
    <button *ngIf="userType == 2" type="button" class="btn btn-outline-success col-12 mt-1" (click)="modifyMedicalHistory()">Modificar historia médica</button>
    <button type="button" class="btn btn-outline-success col-12 mt-1" (click)="modifyEmail()">Modificar email</button>

  </div>
  <div class="w-100 text-center" *ngIf="requesting">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>



