<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <div class="task-panel ">
        <h4 class="table-title">Noticias</h4>
        <button type="button" class="btn btn-success btn-float-right" routerLink="/noticia-crear">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterName" placeholder="Buscar" class="form-control" [(ngModel)]="filterName">
          </div>
        </div>
      </div>
      <section id="no-more-tables" *ngIf="!requestingList && newsList.length > 0">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Título</th>
              <th class="numeric">Imagen</th>
              <th class="numeric">Vigencia</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let news of newsList | searchFilterName: filterName; index as i">
              <td data-title="Título"><span>{{news.title}}</span></td>
              <td class="fw-bold" data-title="Imagen">
                <a (click)="download(i)" download="{{news.path}}"><p class="overflow-clip">{{news.name}}&nbsp;<i class="fa fa-download download-icon"></i></p></a>
              </td>
              <td data-title="Titulo"><span>{{news.from | date: 'dd/MM/yyyy'}} - {{news.to | date: 'dd/MM/yyyy'}}</span></td>
              <td data-title="Acción">
                <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/noticia-editar']" [queryParams]="{id:news.id}"><i class="fa fa-pencil-square"></i></button>
                <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(news.id)"><i class="fa fa-trash "></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="w-100 text-center mt-3" *ngIf="requestingList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="mt-3" *ngIf="!requestingList && newsList.length == 0">
        <h5>No hay noticias registradas</h5>
      </div>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->


</section>
