<section class="wrapper">
  <div class="row mt">
    <div class="col-12">
      <div class="task-panel ">
        <h4 class="table-title">Categorias</h4>
        <button type="button" class="btn btn-success col-xl-2 col-12 btn-float-right" routerLink="/categoria-crear">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card" *ngIf="!requestingList && categories.length > 0">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterName" placeholder="Buscar" class="form-control" [(ngModel)]="filterName">
          </div>
        </div>
      </div>
      <section id="no-more-tables" *ngIf="!requestingList && categories.length > 0">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Nombre</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories | searchFilterName: filterName">
              <td data-title="Nombre" class="col-lg-9"><span>{{category.name}}</span></td>
              <td data-title="Acción" class="col-lg-3">
                  <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/categoria-editar']" [queryParams]="{id:category.id}"><i class="fa fa-pencil-square"></i></button>
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(category.id)"><i class="fa fa-trash "></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="w-100 text-center" *ngIf="requestingList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requestingList && categories.length == 0">
        <h5>No hay categorias registradas</h5>
      </div>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->
 

</section>
