<section class="wrapper">
  <div class="row mt">
    <div class="col-12">
      <div class="task-panel ">
        <h4 class="table-title">Categorias</h4>
        <button type="button" class="btn btn-success pull-right" routerLink="/categoria-crear">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterName" placeholder="Buscar" class="form-control" [(ngModel)]="filterName">
          </div>
        </div>
      </div>
      <section id="no-more-tables" *ngIf="categories.length>0 ; else: elseBlock">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Nombre</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories | searchFilterName: filterName">
              <td data-title="Nombre"><span>{{category.name}}</span></td>
              <td data-title="Acción">
                <span class="btn-action-container">
                  <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/categoria-editar']" [queryParams]="{id:category.id}"><i class="fa fa-pencil-square-o "></i></button>
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(category.id)"><i class="fa fa-trash-o "></i></button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <ng-template #elseBlock><h5>No hay registros para mostrar</h5></ng-template>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->


</section>
