<section class="wrapper">
  <app-member-form [class.d-none]="requesting" (requesting)="finishRequesting()"></app-member-form>
  <div class="container-fluid modal-lg div-btn-create" *ngIf="!requesting">
    <button class="btn btn-secondary col-12 col-lg-2 btn-float-left btn-create" type="button" [routerLink]="['/member-list']">Cancelar</button>
    <button class="btn btn-success col-12 col-lg-2 btn-float-right btn-create" type="submit" (click)="submit()">Guardar</button>
  </div>
  <div class="w-100 text-center" *ngIf="requesting">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>
