<div class="modal-content">
  <div class="container-fluid modal-content p-0">
    <header class="modal-header d-block bg-success"><h3 class="text-center text-white">{{title}}</h3></header>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="formProduct">
              <div class="row card-body card">
                <div class="col-12">
                  <label class="form-label">Descripcion:</label>
                  <input type="text" name="member" class="form-control" formControlName="description">
                  <p class="formValidators" *ngIf="sent && f.description.errors?.required">*Ingrese la descripción.</p>
                </div>
              </div>
              <div class="row card card-body">
                <div class="col-12">
                  <div class="col-12 col-lg-4 pull-left padding-div-controls">
                    <label class="form-label mt-1">Stock:</label>
                    <input type="number" class="form-control" formControlName="stock" />
                  </div>
                  <div class="col-12 col-lg-4 pull-left padding-div-controls">
                    <label class="form-label mt-1">Precio:</label>
                    <input type="number" class="form-control" formControlName="price" />
                    <p class="formValidators" *ngIf="sent && f.price.errors?.required">*Ingrese el precio.</p>
                  </div>
                  <div class="col-12 col-lg-4 pull-right">
                    <label class="form-label mt-1">Punto de Resposición:</label>
                    <input type="number" class="form-control" formControlName="replenishmentPoint" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



