<section class="wrapper">
  <div class="row mt">
    <div class="col-12">
      <div class="task-panel ">
        <h4 class="table-title">Tags</h4>
        <button type="button" class="btn btn-success col-xl-2 col-12 btn-float-right" routerLink="/tag-crear">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card"  *ngIf="!requestingList && tags.length > 0">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterName" placeholder="Buscar" class="form-control" [(ngModel)]="filterName">
          </div>
        </div>
      </div>
      <section id="no-more-tables" *ngIf="!requestingList && tags.length > 0">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Nombre</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tag of tags | searchFilterName: filterName">
              <td data-title="Nombre" class="col-lg-9"><span>{{tag.name}}</span></td>
              <td data-title="Acción" class="col-lg-3">
                <span class="btn-action-container">
                  <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/tag-editar']" [queryParams]="{id:tag.id}"><i class="fa fa-pencil-square"></i></button>
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(tag.id)"><i class="fa fa-trash"></i></button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="w-100 text-center" *ngIf="requestingList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requestingList && tags.length == 0">
        <h5>No hay tags registrados</h5>
      </div>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->


</section>
