<section class="wrapper">
  <div class="task-panel ">
    <h4 class="table-title">Crear Test</h4>
  </div>
  <hr />

  <form [formGroup]="formTestName">
    <div class="form-group mt-3">
      <label class="control-label">Nombre:</label>
      <div class="formValidators">
        <input type="text" class="form-control" formControlName="testName">
      </div>
      <p class="validators" *ngIf="send && g.testName.errors?.required">*Debe completar el campo.</p>
    </div>
  </form>
  <form [formGroup]="formCreate">
    <div class="form-group mt-3">
      <label class="control-label">Tipo de Ejercicio:</label>
      <div class="">
        <select class="form-control" formControlName="type" (change)="selectType($event.target.value)">
          <option value="0" disabled>Seleccionar...</option>
          <option value="1">FC</option>
          <option value="2">Repeticiones</option>
          <option value="3">FMS/Video</option>
        </select>
      </div>
      <p class="validators" *ngIf="sendExercise && f.type.errors?.required">*Debe seleccionar tipo de ejercicio.</p>
    </div>
    <div class="row">
      <div class="form-group mt-3 col-12">
        <label class="control-label">Ejercicio:</label>
        <div class="formValidators">
          <input class="form-control" formControlName="name" />
        </div>
        <p class="validators" *ngIf="sendExercise && f.name.errors?.required">*Debe completar el campo.</p>
      </div>
      <div class="form-group mt-3 col-12 row">
        <div class="formValidators row btn-float-left col-6">
          <div class="formValidators btn-float-left col-3">
            <label class="control-label">Minutos:</label>
            <input class="form-control" type="number" formControlName="minutes" />
          </div>
          <div class="formValidators btn-float-left col-3">
            <label class="control-label">Segundos:</label>
            <input class="form-control" type="number" formControlName="seconds" />
          </div>
        </div>
      </div>
      <div class="form-group mt-3 col-12">
        <label class="control-label">Video:</label>
        <div class="formValidators">
          <input class="form-control" formControlName="video" />
        </div>
      </div>
    </div>
  </form>


  <div class="button-box" *ngIf="addMode">
    <button class="btn btn-success" (click)="addExercise()">Agregar ejercicio</button>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="button-box col-6 btn-float-left" *ngIf="!addMode">
        <button class="btn btn-success" (click)="editExercise()">Modificar ejercicio</button>
      </div>
      <div class="button-box col-6 btn-float-right" *ngIf="!addMode">
        <button class="btn btn-danger" (click)="editCancel()">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="">
    <table class="table table-bordered" *ngIf="testExercises.length>0">
      <thead>
        <tr>
          <th>Ejercicio</th>
          <th>Tipo</th>
          <th>Tiempo</th>
          <th>Video</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exercise of testExercises; index as i" (click)="completeFormEdit(exercise, i)">
          <td>
            {{exercise.name}}
          </td>
          <td>
            <span *ngIf="exercise.testType == 1">FC</span>
            <span *ngIf="exercise.testType == 2">Repeticiones</span>
            <span *ngIf="exercise.testType == 3">FMS/Video</span>
          </td>
          <td>
            <span *ngIf="exercise.minutes > 0">{{exercise.minutes}}&nbsp; min&nbsp;</span>
            <span *ngIf="exercise.seconds > 0">{{exercise.seconds}}&nbsp; seg</span>
            <span *ngIf="!exercise.minutes && !exercise.seconds">-</span>
          </td>
          <td>
            <span *ngIf="exercise.video">{{exercise.video}}</span>
            <span *ngIf="!exercise.video">-</span>
          </td>
          <td class="action-column">
            <a [routerLink]="" (click)="deleteExercise(i)" class="delete-button">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="card p-2" *ngIf="send && testExercises.length == 0">
      <h4 class="validators">*No se agregaron ejercicios.</h4>
    </div>
  </div>

  <div class="div-btn-create">
    <button class="btn btn-secondary col-3 col-lg-2 btn-float-left btn-create" type="button"
            routerLink="/test-templates-list">
      Cancelar
    </button>
    <button class="btn btn-success col-3 col-lg-2 btn-float-right btn-create" type="submit"
            (click)="save()">
      Guardar
    </button>
  </div>
</section>
