<section class="wrapper">
  <div class="container-fluid modal-content modal-lg p-0">
    <header class="modal-header d-block bg-success"><h3 class="mb text-center text-white">Nuevo Plan</h3></header>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <form [formGroup]="formCreate">
            <div class="col-12 card">
              <div class="row card-body justify-content-center align-items-center">
                <div class="row">
                  <div class="col-12 pull-left">
                    <label class="col-12 control-label">Nombre:</label>
                    <div class="col-12 formValidators">
                      <input type="text" class="form-control" formControlName="name">
                      <p *ngIf="sendForm && f.name.errors?.required">*el campo es requerido</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 card">
              <div class="row card-body justify-content-center align-items-center">
                <div class="row">
                  <div class="col-12 col-lg-6 formValidators">
                    <label class="col-12 control-label">Tipo de Plan:</label>
                    <select class="form-control" formControlName="type" (change)="selectType($event.target.value)">
                      <option value="" disabled>Seleccionar...</option>
                      <option value="1">Personalizado</option>
                      <option value="2">Grupal</option>
                    </select>
                    <p *ngIf="sendForm && f.type.errors?.required">*el campo es requerido</p>
                  </div>
                  <div class="col-12 col-lg-6">
                    <label class="col-12 control-label">Asignar Clases:</label>
                    <ng-multiselect-dropdown [settings]="classDropdownSettings"
                                             [data]="classes"
                                             [placeholder]="'Seleccionar...'"
                                             formControlName="classes">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 card">
              <div class="row card-body justify-content-center align-items-center">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <label class="col-12 control-label">Créditos:</label>
                    <div class="col-12 formValidators">
                      <input type="number" class="form-control" formControlName="credits">
                      <p *ngIf="sendForm && f.credits.errors?.required">*el campo es requerido</p>
                    </div>
                  </div>
                  <div class="col-12 col-lg-6">
                    <label class="col-12 control-label">Precio:</label>
                    <div class="col-12 formValidators">
                      <input type="number" class="form-control" formControlName="price">
                      <p *ngIf="sendForm && f.price.errors?.required">*el campo es requerido</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid modal-lg div-btn-create">
    <button class="btn btn-secondary col-3 col-lg-2 pull-left btn-create" type="button" [routerLink]="['/plan-list']">Cancelar</button>
    <button class="btn btn-success col-3 col-lg-2 pull-right btn-create" type="submit" (click)="submit()">Guardar</button>
  </div>
</section>



