<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <div class="task-panel ">
        <h4 class="table-title mt-2">Informacion del Usuario</h4>
      </div>
      <hr>
      <section id="no-more-tables">
        <table class="table table-bordered table-condensed cf user-table">
          <thead class="cf">
            <tr>
              <th class="numeric labelFormStyle">Apellido y Nombre</th>
              <th class="numeric">Tipo de Usuario</th>
              <th class="numeric">Fecha de Nacimiento</th>
              <th class="numeric">Domicilio</th>
              <th class="numeric">Teléfono</th>
              <th class="numeric">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr class="scrollme" *ngIf="user">
              <td class="numeric" data-title="Nombre"><span>{{user.lastName}} {{user.name}}</span></td>
              <td data-title="Tipo"><span>{{user.roleName}}</span></td>
              <td data-title="F. de Nac."><span>{{user.birthDate  | date: 'dd/MM/yyyy'}}</span></td>
              <td data-title="Domicilio"><span>{{user.address}}</span></td>
              <td data-title="Teléfono"><span>{{user.phone}}</span></td>
              <td data-title="Email"><span>{{user.email}}</span></td>
            </tr>
          </tbody>
        </table>
        <div>
          <button type="button" class="btn btn-secondary pull-right" routerLink="/user-list">Volver</button>
        </div>
      </section>
    </div>
  </div>
  </section>
