/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

/*.dropdown-menu > li:hover ul.dropdown-menu {
  display: inline-block;
  position: absolute;
  left: 100%;
}*/

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.formValidators > p {
  font-size: 13px;
  color: red;
}

.labelFormStyle {
  text-align: left !important;
  color: dimgray !important;
}

.margLeft {
  margin-left: 15px;
}

.margButton {
  margin-right: 15px;
}

label {
  font-weight: 400;
}

.table-title {
  display: initial;
}

img.logo {
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  width: 75px;
}

.btn-float-left{
    float: left;
}

  .btn-float-right{
      float: right;
  }

  .btn-login {
    text-align: center;
    color: white;
    float: right;
    margin-right: 10px;
  }

/*.btn-login-i {
  height: 40px;
  width: 40px;
}*/

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

li.nav-item {
  margin-left: 10px;
  margin-top: 7px;
}

.nav-item a {
  color: #aeb2b7;
  text-decoration: none;
  font-family: Ruda, sans-serif;
  font-size: 13px;
}

nav.bg-dark {
  background: #22242a;
  border-bottom: 1px solid #393d46;
}

section.wrapper {
  margin: 20px;
}

.navbar-light .navbar-toggler {
  color: #fff !important;
  margin-left: 10px;
}

::ng-deep .available .mat-calendar-body-cell-content {
  background-color: rgba(14, 152, 5, 0.25) !important;
}

::ng-deep .mat-calendar-body-cell[disabled] {
  pointer-events: none;
}
::ng-deep .mat-calendar-body-cell[disabled] .mat-calendar-body-cell-content {
  background-color: rgba(128, 128, 128, 0.637) !important;
}

div.modal-new-group .modal-content{
  z-index: auto !important;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
