<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <h3 class="mb text-center">Ficha Medica</h3>
      <br />
      <br />
      <form class="form-horizontal style-form" [formGroup]="formCreate">
        <div class="row">
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">Sexo:</label>
            <div class="margLeft formValidators">
              <select class="form-control" formControlName="gender" (change)="selectGender($event.target.value)">
                <option value="0" disabled>Seleccionar...</option>
                <option value=1>Hombre</option>
                <option value=2>Mujer</option>
              </select>
              <p *ngIf="sendForm && f.gender.errors?.required">*el campo es requerido</p>
            </div>
          </div>
          <div *ngIf="feminine" class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">Periodo:</label>
            <div class="margLeft formValidators">
              <input type="text" class="form-control" formControlName="period">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">Peso:</label>
            <div class="margLeft formValidators">
              <input type="text" class="form-control" formControlName="weight">
              <p *ngIf="sendForm && f.weight.errors?.required">*el campo es requerido</p>
            </div>
          </div>
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">¿Tiene alergias conocidas?</label>
            <div class="margLeft formValidators">
              <label>
                <input type="radio" name="allergies" value="1" (change)="checkedAllergies($event.target.value)">
                <span>Si</span>
              </label>
              <label>
                <input type="radio" name="allergies" value="2" checked (change)="checkedAllergies($event.target.value)">
                <span>No</span>
              </label>
              <input *ngIf="inputAllergies" type="text" class="form-control" formControlName="allergies">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">¿Padece alguna enfermedad cardiaca?</label>
            <div class="margLeft formValidators">
              <label>
                <input type="radio" name="heartDisease" value="1" (change)="checkedHeartDisease($event.target.value)">
                <span>Si</span>
              </label>
              <label>
                <input type="radio" name="heartDisease" value="2" checked (change)="checkedHeartDisease($event.target.value)">
                <span>No</span>
              </label>
              <input *ngIf="inputHeartDisease" type="text" class="form-control" formControlName="heartDisease">
            </div>
          </div>
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">¿Padece alguna enfermedad respiratoria?</label>
            <div class="margLeft formValidators">
              <label>
                <input type="radio" name="respiratoryDisease" value="1" (change)="checkedRespiratoryDisease($event.target.value)">
                <span>Si</span>
              </label>
              <label>
                <input type="radio" name="respiratoryDisease" value="2" checked (change)="checkedRespiratoryDisease($event.target.value)">
                <span>No</span>
              </label>
              <input *ngIf="inputRespiratoryDisease" type="text" class="form-control" formControlName="respiratoryDisease">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">¿Toma algun medicamento de forma habitual?</label>
            <div class="margLeft formValidators">
              <label>
                <input type="radio" name="habitualMedication" value="1" (change)="checkedHabitualMedication($event.target.value)">
                <span>Si</span>
              </label>
              <label>
                <input type="radio" name="habitualMedication" value="2" checked (change)="checkedHabitualMedication($event.target.value)">
                <span>No</span>
              </label>
              <input *ngIf="inputHabitualMedication" type="text" class="form-control" formControlName="habitualMedication">
            </div>
          </div>
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">¿Tiene alguna intervención quirurgica?</label>
            <div class="margLeft formValidators">
              <label>
                <input type="radio" name="surgicalIntervention" value="1" (change)="checkedSurgicalIntervention($event.target.value)">
                <span>Si</span>
              </label>
              <label>
                <input type="radio" name="surgicalIntervention" value="2" checked (change)="checkedSurgicalIntervention($event.target.value)">
                <span>No</span>
              </label>
              <input *ngIf="inputSurgicalIntervention" type="text" class="form-control" formControlName="surgicalIntervention">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 form-group formMargin">
            <label class="col-sm-6 control-label margLabelForm">¿Tiene antecedentes de lesiones?</label>
            <div class="margLeft formValidators">
              <label>
                <input type="radio" name="observations" value="1" (change)="checkedInjury($event.target.value)">
                <span>Si</span>
              </label>
              <label>
                <input type="radio" name="observations" value="2" checked (change)="checkedInjury($event.target.value)">
                <span>No</span>
              </label>
            </div>
            <div class="col-lg-6 form-group formMargin">
              <label class="col-sm-6 control-label margLabelForm">Observaciones:</label>
              <div class="margLeft formValidators">
                <label>
                  <input *ngIf="viewInput" type="text" class="form-control" formControlName="observations">
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- col-lg-12-->
</div>

