.btn-action-list {
  height: 35px;
  width: 38px;
  margin: 2px;
}

a {
  text-decoration: underline !important;
  color: #0d6efd !important;
  cursor: pointer;
}

.download-icon {
  margin-left: 6px;
}

tr.span-margin > td > span {
  margin-left: 15px;
}

td.text-ajust {
  text-overflow: ellipsis;
}

.btn-create {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #no-more-tables td {
    padding-left: 35%;
  }
  .detail-table {
    font-size: 13px;
    border: 1px solid #808080;
    margin-top: 2px;
  }
  .user-table {
    font-size: 13px;
  }
}

.table-thead {
  text-align: center;
  background-color: chartreuse;
}
.table-tbody
{
  background-color:transparent
}


