<section class="wrapper">
  <div *ngIf="!requesting">
    <div class="task-panel ">
      <h4 class="table-title">Crear Turno</h4>
    </div>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 card bg-light">
          <div class="row card-body">
            <div class="col-lg-12">
              <div class="card-body row">
                <div class="col-lg-6 col-md-6 col-xs-12 pull-left mt-3">
                  <label class="form-label">Desde:</label>
                  <input type="date" class="form-control col-6" [(ngModel)]="from" />
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 btn-float-right mt-3">
                  <label class="form-label">Hasta:</label>
                  <input type="date" class="form-control col-6" [(ngModel)]="to" />
                </div>
              </div>
              <div class="card-body row">
                <div class="col-lg-6 col-md-6 col-xs-12 btn-float-right mt-3 formValidators">
                  <label class="form-label">Cupo:</label>
                  <input type="number" class="form-control col-6" [(ngModel)]="quota" (change)="validationQuota()" />
                  <p [ngClass]="{'display': errorQuota, 'display-none': !errorQuota}">*el cupo deber ser mayor a 0</p>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 btn-float-right mt-3 formValidators">
                  <label class="form-label">Clase:</label>
                  <select class="form-control col-12" (change)="selectClass($event.target.value)">
                    <option class="form-control col-12" value="" disabled>Seleccionar</option>
                    <option *ngFor="let class of classes" class="form-control col-12" value={{class.id}}>{{class.name}}</option>
                  </select>
                  <!--<p *ngIf="sendForm && f.lastName.errors?.required">*el campo es requerido</p>-->
                  <p [ngClass]="{'display': errorSelectedClass, 'display-none': !errorSelectedClass}">*seleccione una clase</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <section id="no-more-tables">
          <table id="tableShift" class="table table-bordered table-condensed cf mb-0">
            <thead class="cf">
              <tr>
                <th class="numeric">Hora</th>
                <th class="numeric">Lunes</th>
                <th class="numeric">Martes</th>
                <th class="numeric">Miercoles</th>
                <th class="numeric">Jueves</th>
                <th class="numeric">Viernes</th>
                <th class="numeric">Sábado</th>
                <th class="numeric">Profesor</th>
                <th class="numeric">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr class="scrollme span-margin" *ngFor="let schedule of schedules; index as i">
                <td class="td-title" data-title="Hora"><div class="row col-12 col-lg-12 col-sm-6 mx-0"><input type="time" class="form-control" value={{schedule.hour}} (change)="selectHour($event.target.value, i)" /></div></td>
                <td class="td-title" data-title="Lunes" (click)="selectDay('monday')"><span><input type="checkbox" [checked]="schedule.monday" (change)="schedule.monday=!schedule.monday" /></span></td>
                <td class="td-title" data-title="Martes" (click)="selectDay('tuesday')"><span><input type="checkbox" [checked]="schedule.tuesday" (change)="schedule.tuesday=!schedule.tuesday" /></span></td>
                <td class="td-title" data-title="Miercoles" (click)="selectDay('wednesday')"><span><input type="checkbox" [checked]="schedule.wednesday" (change)="schedule.wednesday=!schedule.wednesday" /></span></td>
                <td class="td-title" data-title="Jueves" (click)="selectDay('thursday')"><span><input type="checkbox" [checked]="schedule.thursday" (change)="schedule.thursday=!schedule.thursday" /></span></td>
                <td class="td-title" data-title="Viernes" (click)="selectDay('friday')"><span><input type="checkbox" [checked]="schedule.friday" (change)="schedule.friday=!schedule.friday" /></span></td>
                <td class="td-title" data-title="Sábado" (click)="selectDay('saturday')"><span><input type="checkbox" [checked]="schedule.saturday" (change)="schedule.saturday=!schedule.saturday" /></span></td>
                <td class="td-title" data-title="Profesor">
                  <div class="row col-12 col-lg-12 col-sm-6 mx-0 formValidators">
                    <select class="form-control" (change)="selectUser($event.target.value, i)">
                      <option disabled value="">Seleccionar</option>
                      <option *ngFor="let user of users" value={{user.id}}>{{user.lastName}} {{user.name}}</option>
                    </select>
                  </div>
                </td>
                <td class="td-title" data-title="Acción">
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(i)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card justify-content-center align-items-center">
            <div class="col-12 col-lg-3 text-center m-2">
              <button class="btn btn-success col-12" (click)="addRow()">Nuevo turno</button>
            </div>
          </div>
          <div class="card formValidators">
            <p [ngClass]="{'display': errorSelectedDays, 'display-none': !errorSelectedDays}">*Debe seleccionar al menos un día.</p>
            <p [ngClass]="{'display': errorSelectedUser, 'display-none': !errorSelectedUser}">*Debe seleccionar un profesor/a</p>
          </div>
        </section>
      </div>
    </div>
    <div class="col-12 div-btn-create mt-2">
      <button class="btn btn-secondary col-12 col-lg-2 btn-create pull-left" type="button" [routerLink]="['/turnos-list']">Cancelar</button>
      <button class="btn btn-success col-12 col-lg-2 btn-create btn-float-right" type="submit" (click)="submit()">Guardar</button>
    </div>
  </div>
  <div class="w-100 text-center" *ngIf="requesting">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</section>




