<section class="wrapper">
  <div class="task-panel ">
    <h4 class="table-title">Crear Turno</h4>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card bg-light">
        <div class="row card-body">
          <div class="col-lg-12">
            <div class="card-body row">
              <div class="col-lg-6 col-md-6 col-xs-12 pull-left mt-3">
                <label class="form-label">Desde:</label>
                <input type="date" class="form-control col-6" [(ngModel)]="from" />
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12 pull-right mt-3">
                <label class="form-label">Hasta:</label>
                <input type="date" class="form-control col-6" [(ngModel)]="to" />
              </div>
            </div>
            <div class="card-body row">
              <div class="col-lg-6 col-md-6 col-xs-12 pull-right mt-3">
                <label class="form-label">Cupo:</label>
                <input type="number" class="form-control col-6" [(ngModel)]="quota" />
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12 pull-right mt-3">
                <label class="form-label">Clase:</label>
                <select class="form-control col-12" (change)="selectClass($event.target.value)">
                  <option class="form-control col-12" value="" disabled>Seleccionar</option>
                  <option *ngFor="let class of classes" class="form-control col-12" value={{class.id}}>{{class.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <section id="no-more-tables">
          <table id="tableShift" class="table table-bordered table-condensed cf mb-0">
            <thead class="cf">
              <tr>
                <th class="numeric">Hora</th>
                <th class="numeric">Lunes</th>
                <th class="numeric">Martes</th>
                <th class="numeric">Miercoles</th>
                <th class="numeric">Jueves</th>
                <th class="numeric">Viernes</th>
                <th class="numeric">Sábado</th>
                <th class="numeric">Profesor</th>
                <th class="numeric">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr class="scrollme span-margin" *ngFor="let schedule of schedules; index as i">
                <td class="td-title" data-title="Hora"><div class="row col-12 col-lg-12 col-sm-6 mx-0"><input type="time" class="form-control" value={{schedule.hour}} (change)="selectHour($event.target.value, i)" /></div></td>
                <td class="td-title" data-title="Lunes" (click)="selectMonday()"><span><input type="checkbox" [checked]="monday" (change)="schedule.monday=!schedule.monday" /></span></td>
                <td class="td-title" data-title="Martes" (click)="selectTuesday()"><span><input type="checkbox" [checked]="tuesday" (change)="schedule.tuesday=!schedule.tuesday" /></span></td>
                <td class="td-title" data-title="Miercoles" (click)="selectWednesday()"><span><input type="checkbox" [checked]="wednesday" (change)="schedule.wednesday=!schedule.wednesday" /></span></td>
                <td class="td-title" data-title="Jueves" (click)="selectThursday()"><span><input type="checkbox" [checked]="thursday" (change)="schedule.thursday=!schedule.thursday" /></span></td>
                <td class="td-title" data-title="Viernes" (click)="selectFriday()"><span><input type="checkbox" [checked]="friday" (change)="schedule.friday=!schedule.friday" /></span></td>
                <td class="td-title" data-title="Sábado" (click)="selectSaturday()"><span><input type="checkbox" [checked]="saturday" (change)="schedule.saturday=!schedule.saturday" /></span></td>
                <td class="td-title" data-title="Profesor">
                  <div class="row col-12 col-lg-12 col-sm-6 mx-0">
                    <select class="form-control" (change)="selectUser($event.target.value, i)">
                      <option disabled value="">Seleccionar</option>
                      <option *ngFor="let user of users" value={{user.id}}>{{user.lastName}} {{user.name}}</option>
                    </select>
                  </div>
                </td>
                <td class="td-title" data-title="Acción">
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(i)"><i class="fa fa-trash-o "></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row card col-12 mx-0 justify-content-center align-items-center">
            <div class="col-lg-2 col-md-3 col-3 text-center m-2">
              <button class="btn btn-success form-control" (click)="addRow()">Agregar</button>
            </div>
          </div>
      </section>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-secondary pull-left mt-2" type="button" [routerLink]="['/turnos-list']">Cancelar</button>
    <button class="btn btn-success pull-right mt-2" type="submit" (click)="submit()">Guardar</button>
  </div>
</section>




