.btn-action-list {
  height: 35px;
  width: 35px;
  margin: 2px;
  font-size: 13px;
}

tr.span-margin > td > span {
  margin-left: 15px;
}

td.text-ajust {
  text-overflow: ellipsis;
}

.td-padding-action {
  padding: 0rem;
}

.div-btn-create {
  padding: 0px;
  margin-top: 15px;
}

.btn-create {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.display-none {
  display: none
}

.display {
  display: block
}

@media only screen and (max-width: 800px) {
  #no-more-tables td {
    padding-left: 30%;
  }

  .user-table {
    font-size: 13px;
  }

  .td-padding-action {
    padding: 0.5rem;
  }
}
