div.spinner-border {
  margin-top: 20px;
}

div.mat-tab-body-content {
  padding: 10px !important;
}

.modal-dialog-full {
  width: 100%;

  padding: 0;
  margin: 20;
  max-width: 100%;
}

.modal-content-full {
  height: 100%;
}

.diplay-btn-assignment-wod{
    display:none;
}

.diplay-calendar-assignment-wod {
  display: block;
}

@media only screen and (max-width: 800px) {
  .diplay-btn-assignment-wod {
    display: block;
  }

  .diplay-calendar-assignment-wod {
    display: none;
  }
}
