::ng-deep .available .mat-calendar-body-cell-content{
    background-color: rgba(14, 152, 5, 0.25) !important;
}

::ng-deep .mat-calendar-body-cell[disabled]{
    pointer-events: none;
}
::ng-deep .mat-calendar-body-cell[disabled] .mat-calendar-body-cell-content {
    background-color: rgba(0,0,0,0)!important;
}
