<section class="wrapper">
  <div class="row mt">
    <div class="col-12">
      <div class="task-panel row">
        <h4 class="table-title col-12 col-lg-6">Ejercicios</h4>
        <div class="col-12 col-lg-6">
          <button type="button" class="btn btn-success col-xl-3 col-xs-12 btn-add" routerLink="/ejercicio-crear">Agregar</button>
          <button type="button" class="btn btn-success col-xl-3 col-xs-12 btn-add" routerLink="/categorias-list">Categorias</button>
          <button type="button" class="btn btn-success col-xl-3 col-xs-12 btn-add" routerLink="/tags-list">Tags</button>
        </div>
      </div>
      <hr>
      <div class="col-12 card">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterExercise" placeholder="Buscar" class="form-control" [(ngModel)]="filterExercise">
          </div>
        </div>
      </div>
      <section id="no-more-tables" *ngIf="exercises.length > 0; else elseBlock1">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Nombre</th>
              <th class="numeric">Categoria</th>
              <th class="numeric">Video</th>
              <th class="numeric">Tags</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let exercise of exercises | searchFilterExercise: filterExercise">
              <td data-title="Nombre"><span>{{exercise.name}}</span></td>
              <td data-title="Categoria"><span>{{exercise.categoryExercise.name}}</span></td>
              <td data-title="Video"><a href="{{exercise.video}}">Ver video</a></td>
              <td data-title="Tags">
                <table *ngIf="exercise.tags.length>0 ; else: elseBlock1" id="table-class">
                  <tbody>
                    <tr *ngFor="let tag of exercise.tags">
                      <td>
                        <span>{{tag.name}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td data-title="Acción">
                <span class="btn-action-container">
                  <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/ejercicio-editar']" [queryParams]="{id:exercise.id}"><i class="fa fa-pencil-square-o "></i></button>
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(exercise.id)"><i class="fa fa-trash-o "></i></button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <ng-template #elseBlock1><h5>No hay registros para mostrar</h5></ng-template>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->


</section>
