<section class="wrapper">
  <app-product-form></app-product-form>
  <div class="modal-content">
    <div class="col-md-12 col-sm-12 col-xs-12 card">
      <div class="row">
        <div class="card-body col-md-6 col-sm-6 col-xs-6">
          <button type="button" class="col-md-3 col-sm-3 col-xs-6 btn btn-secondary pull-left" [routerLink]="['/product-list']">Volver</button>
          <button type="button" class="col-md-3 col-sm-3 col-xs-6 btn btn-success pull-right" (click)="submit()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</section>
