<body>
  <nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
      <button *ngIf="logueado" class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- logo -->
      <a class="logo" href="#">
        <img src="http://antofanari-001-site1.gtempurl.com/logo-corpo.png" alt="" class="logo">
      </a>
      <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">

        <ul *ngIf="logueado" class="navbar-nav">
          <li *access="'caja'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/caja']">
              <i class="fas fa-cash-register me-1"></i>
              Caja
            </a>
          </li>
          <li *access="'usuarios'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/asistencias-turnos']">
              <i class="fa-solid fa-calendar-days me-1"></i>
              Asistencias
            </a>
          </li>
          <li *access="'usuarios'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/user-list']">
              <i class="fa fa-user me-1"></i>
              Usuarios
            </a>
          </li>
          <li *access="'socios'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/member-list']">
              <i class="fa fa-users me-1"></i>
              Socios
            </a>
          </li>
          <li *access="'socios'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/asignacion-wod']">
              <i class="fa fa-dumbbell me-1"></i>
              WOD
            </a>
          </li>
          <li *access="'deudas'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/deudas-list']">
              <i class="fa fa-usd me-1"></i>
              Deudas
            </a>
          </li>
          <li *access="'comunicación'" class="nav-item me-2" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/noticias-list']">
              <i class="fa fa-exclamation-circle me-1"></i>
              Comunicación
            </a>
          </li>
          <li *access="'informes'" class="nav-item me-2">
            <a class="nav-item dropdown-toggle" id="dropdown1" data-toggle="dropdown" role="button">
              <i class="fa fa-line-chart me-1"></i>
              Informes
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropend sub-menu dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown2" data-bs-toggle="dropdown" role="button" onclick="event.stopPropagation()">Caja</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown2">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/caja-diaria']">Caja Diaria</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/caja-detalle']">Caja Detallado</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/ganancias-mensuales']">Ganancias Mensuales</a></li>
                </ul>
              </li>
              <li class="nav-item dropend sub-menu dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown2" data-bs-toggle="dropdown" role="button" onclick="event.stopPropagation()">Marketing</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown2">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/member-report']">Estadisticas Totales</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/estadisticas-segmentadas']">Estadisticas Segmentadas</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li *access="'abm'" class="nav-item sub-menu dropdown me-2">
            <a class="nav-item dropdown-toggle" id="dropdown1" data-toggle="dropdown" role="button">
              <i class="fa fa-gear me-1"></i>
              ABM
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/turnos-list']">Turnos</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/clases-list']">Clases</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/plan-list']">Planes</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/promociones-list']">Promociones</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/productos-list']">Productos</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/egresos-list']">Egresos</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/retiros-list']">Retiros</a></li>
              <li class="nav-item dropend sub-menu dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown2" data-bs-toggle="dropdown" role="button" onclick="event.stopPropagation()">Rutinas</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown2">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/categorias-list']">Categorias</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/tags-list']">Tags</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/ejercicios-list']">Ejercicios</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/modalidades-list']">Modalidades</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/objetivos-mensuales-list']">Objetivos Mensuales</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/objetivos-semanales-list']">Objetivos Semanales</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/plantillas-wod']">Plantillas WOD</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/configuraciones']">Ajustes</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a *ngIf="!logueado" class="btn-login" [routerLink]="['/login']"><i class="fa fa-user-circle"></i></a>
      <div *ngIf="logueado">
        <div class="btn-group me-3">
          <span class="text-white me-2">Bienvenido {{user.name }}</span>;
          <a class="text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user"></i></a>
          <ul class="dropdown-menu width-dropdown-account" role="menu">
            <li><a [routerLink]="['/datos-personales']"><i class="fa fa-user ms-2 me-3"></i>Mis datos</a></li>
            <li><a [routerLink]="['/modificar-contraseña']"><i class="fa fa-key ms-2 me-2"></i>Contraseña</a></li>
            <hr />
            <li><a (click)="signOff()"><span class="ms-2">Cerrar Sesión</span><i class="fa fa-sign-out ms-2 me-3"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



  <div class="container">
    <router-outlet></router-outlet>

  </div>
</body>
