<body>
  <nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
      <button *ngIf="logueado" class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- logo -->
      <a class="logo" href="#">
        <img src="../assets/logo-corpo.png" alt="" class="logo">
      </a>
      <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">

        <ul *ngIf="logueado" class="navbar-nav">
          <li *access="'caja'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/caja']">
              <i class="fa fa-suitcase"></i>
              Caja
            </a>
          </li>
          <li *access="'usuarios'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/asistencias-turnos']">
              <i class="fa fa-user"></i>
              Asistencias
            </a>
          </li>
          <li *access="'usuarios'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/user-list']">
              <i class="fa fa-user"></i>
              Usuarios
            </a>
          </li>
          <li *access="'socios'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/member-list']">
              <i class="fa fa-user"></i>
              Socios
            </a>
          </li>
          <li *access="'socios'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/wod-template']">
              <i class="fa fa-user"></i>
              Plantillas WOD
            </a>
          </li>
          <li *access="'deudas'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/deudas-list']">
              <i class="fa fa-usd"></i>
              Deudas
            </a>
          </li>
          <li *access="'comunicación'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a  class="nav-item dropdown-toggle" id="dropdown1" data-toggle="dropdown" role="button">
              <i class="fa fa-exclamation-circle"></i>
              Comunicación
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/noticias-list']">Noticias</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/tablero']">Tablero</a></li>
            </ul>
          </li>
          <li *access="'informes'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a href="#">
              <i class="fa fa-bar-chart-o"></i>
              Informes
            </a>
          </li>
          <li *access="'deudas'" class="nav-item">
            <a [routerLink]="['/member-report']">
              <i class="fa fa-usd"></i>
              Estadísticas totales
            </a>
          </li>
          <li *access="'abm'" class="nav-item sub-menu dropdown">
            <a class="nav-item dropdown-toggle" id="dropdown1" data-toggle="dropdown" role="button">
              <i class="fa fa-search"></i>
              ABM
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/turnos-list']">Turnos</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/clases-list']">Clases</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/plan-list']">Planes</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/promociones-list']">Promociones</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/productos-list']">Productos</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/egresos-list']">Egresos</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/retiros-list']">Retiros</a></li>
              <li class="nav-item dropend sub-menu dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown2" data-bs-toggle="dropdown" role="button">WODS</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown2">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/categorias-list']">Categorias</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/tags-list']">Tags</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/ejercicios-list']">Ejercicios</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li *access="'ajustes'" class="nav-item" (click)="navbarCollapsed = !navbarCollapsed">
            <a [routerLink]="['/accesos']">
              <i class="fa fa-gear"></i>
              Ajustes
            </a>
          </li>
        </ul>
      </div>
      <a *ngIf="!logueado" class="btn-login" [routerLink]="['/login']"><i class="fa fa-user-circle"></i></a>
      <div *ngIf="logueado" class="showback">
        <div class="btn-group">
          <p class="text-white">Bienvenido {{user.name }}</p>&nbsp;
          <a class="text-white dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a [routerLink]="['/datos-personales']"><i class="fa fa-user-o"></i>&nbsp;Mis datos</a></li>
            <li><a [routerLink]="['/modificar-contraseña']"><i class="fa fa-key"></i>&nbsp;Modificar contraseña</a></li>
            <li><a [routerLink]="['/mis-deudas']"><i class="fa fa-usd"></i>&nbsp;Mis deudas</a></li>
            <li><a [routerLink]="['/mis-reservas']"><i class="fa fa-clipboard"></i>&nbsp;Mis reservas</a></li>
            <li><a><i class="fa fa-bell"></i>&nbsp;Notificaciones</a></li>
            <hr />
            <li><a (click)="signOff()">Cerrar Sesión&nbsp;<i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>

  </div>
</body>
