<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <div class="task-panel ">
        <h4 class="table-title">Usuarios</h4>
        <button type="button" class="btn btn-success pull-right" routerLink="/user-create">Agregar</button>
      </div>
      <hr>
      <!--<table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th>Apellido y Nombre</th>
            <th class="hidden-phone"> Teléfono</th>
            <th>Email</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let administrator of administrators">
            <td><span>{{administrator.lastName}} {{administrator.name}}</span></td>
            <td><span>{{administrator.phone}}</span></td>
            <td><span>{{administrator.email}}</span></td>
            <td>
              <button class="btn btn-primary btn-xs"><i class="fa fa-check"></i></button>
              <button class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o "></i></button>
              <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
            </td>
          </tr>
        </tbody>
      </table>-->
      <section id="no-more-tables">
        <table class="table table-bordered table-condensed cf">
          <thead class="cf">
            <tr>
              <th class="numeric">Apellido y Nombre</th>
              <th class="numeric">Tipo de Usuario</th>
              <th class="numeric">Teléfono</th>
              <th class="numeric">Email</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" class="scrollme">
              <td class="numeric" data-title="Apellido y Nombre"><span>{{user.lastName}} {{user.name}}</span></td>
              <td data-title="Tipo de Usuario"><span>{{user.nameRole}}</span></td>
              <td data-title="Teléfono"><span>{{user.phone}}</span></td>
              <td data-title="Email"><span>{{user.email}}</span></td>
              <td data-title="Acción">
                <button class="btn btn-primary btn-xs"><i class="fa fa-check"></i></button>
                <button class="btn btn-warning btn-xs"><i class="fa fa-pencil-square-o "></i></button>
                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->


</section>
