<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <div class="task-panel ">
        <h4 class="table-title">Usuarios</h4>
        <button type="button" class="btn btn-success pull-right" routerLink="/user-create">Agregar</button>
      </div>
      <hr>
      <div class="col-12 card">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterUser" placeholder="Buscar" class="form-control" [(ngModel)]="filterUser">
          </div>
        </div>
      </div>
      <section *ngIf="users.length>0 ; else elseBlock" id="no-more-tables">
        <table class="table table-bordered table-condensed cf scrollme user-table">
          <thead class="cf">
            <tr>
              <th class="numeric">Apellido y Nombre</th>
              <th class="numeric">Tipo de Usuario</th>
              <th class="numeric">Teléfono</th>
              <th class="numeric">Email</th>
              <th class="numeric">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | searchFilterUser: filterUser" class="scrollme span-margin">
              <td class="td-title" data-title="Nombre"><span>{{user.lastName}} {{user.name}}</span></td>
              <td class="td-title" data-title="Tipo"><span>{{user.roleName}}</span></td>
              <td class="td-title" data-title="Teléfono"><span>{{user.phone}}</span></td>
              <td class="td-title text-ajust" data-title="Email"><span>{{user.email}}</span></td>
              <td class="td-title" data-title="Acción">
                <span class="btn-action-container">
                  <button class="btn btn-primary btn-xs btn-action-list" [routerLink]="['/user-view']" [queryParams]="{id:user.id, role:user.nameRole}"><i class="fa fa-info-circle"></i></button>
                  <button class="btn btn-warning btn-xs btn-action-list" [routerLink]="['/user-edit']" [queryParams]="{id:user.id}"><i class="fa fa-pencil-square-o "></i></button>
                  <button class="btn btn-danger btn-xs btn-action-list" (click)="delete(user.id, user.email)"><i class="fa fa-trash-o "></i></button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <ng-template #elseBlock><h5>No hay registros para mostrar</h5></ng-template>
    </div>
    <!-- /content-panel -->
  </div>
  <!-- /col-md-12 -->
</section>
