<div class="col-12 col-lg-6 formValidators">
    <label class="col-12 control-label">Categoria:</label>
    <select class="form-control"  (change)="selectCategory($event.target.value)">
      <option value="" disabled>Seleccionar...</option>
      <option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</option>
    </select>
  </div>

  <div class="col-12 card">
    <div class="row card-body justify-content-center align-items-center">
      <div class="row">
        <div class="col-12">
          <label class="col-12 control-label">Tags:</label>
          <div *ngIf="checkboxToTags.length>0" class="row">
            <div *ngFor="let checkToTag of checkboxToTags" class="col-md-4">
              <input class="checkbox-tags" type="checkbox" [id]="checkToTag.id" [checked]="checkToTag.checked" (change)="checkToTag.checked=!checkToTag.checked">
              <label [for]="checkToTag.id">{{checkToTag.tag}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<ng-select class="custom" [items]="exercisesSelect"></ng-select>

<ng-select class="custom" [items]="modalities"></ng-select>