<section class="wrapper">
  <div class="task-panel ">
    <h4 class="table-title">Turnos</h4>
    <button type="button" class="btn btn-success col-xl-2 col-12 btn-float-right" routerLink="/turno-crear">Agregar</button>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 card bg-light bg-">
        <div class="row card-body">
          <div class="col-lg-12">
            <div class="card-body row">
              <div class="col-lg-3 col-md-6 col-xs-12 pull-left mt-3">
                <label class="form-label">Desde:</label>
                <input type="date" class="form-control col-6" [(ngModel)]="from" />
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12 btn-float-right mt-3">
                <label class="form-label">Hasta:</label>
                <input type="date" class="form-control col-6" [(ngModel)]="to" />
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12 btn-float-right mt-3">
                <label class="form-label">Clase:</label>
                <select class="form-control col-12" (change)="selectClass($event.target.value)">
                  <option class="form-control col-12" value="0">Todos</option>
                  <option *ngFor="let class of classes" class="form-control col-12" value={{class.id}}>{{class.name}}</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-12 btn-float-right mt-4">
                <div class="mt-4">
                  <button type="button" class="btn btn-primary form-control col-6 btn-float-right" routerLink="/turnos-list" (click)="toListShift()">Listar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!requestingList && toList && shifts.length>0" class="col-12 card">
        <div class="row card-body">
          <div class="col-12">
            <input type="text" name="filterShift" placeholder="Buscar" class="form-control" [(ngModel)]="filterShift">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <section *ngIf="!requestingList && shifts.length > 0" id="no-more-tables">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-condensed cf mb-0 user-table">
            <thead class="cf">
              <tr>
                <th class="numeric"><span><input type="checkbox" [checked]="checkedAllShifts" (change)="checkedAll()" /></span></th>
                <th class="numeric">Fecha</th>
                <th class="numeric">Cupo</th>
                <th class="numeric">Clase</th>
                <th class="numeric">Profesor</th>
                <th class="numeric">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr class="scrollme span-margin" *ngFor="let shift of shifts | searchFilterShift: filterShift">
                <td class="td-title" data-title=""><span><input type="checkbox" [checked]="shift.checked" value="{{shift.id}}" (change)="checked(shift)" /></span></td>
                <td class="td-title" data-title="Fecha"><span>{{shift.day}} {{shift.hour}}</span></td>
                <td class="td-title" data-title="Cupo"><span>{{shift.quota}}</span></td>
                <td class="td-title" data-title="Clase"><span>{{shift.className}}</span></td>
                <td class="td-title text-ajust" data-title="Profesor"><span>{{shift.userName}}</span></td>
                <td class="td-title" data-title="Acción">
                  <span class="btn-action-container">
                    <button class="btn btn-success btn-xs btn-action-list" [routerLink]="['/asistencias']" [queryParams]="{id: shift.id}">ver asistencias</button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div *ngIf="!requestingList && shifts.length > 0" class="col-lg-12 card">
        <div class="row card-body">
          <div class="col-lg-4 col-md-4 col-xs-12 btn-float-right">
            <button type="button" class="btn btn-success form-control col-6 btn-float-right" data-toggle="modal" href="#myModalAssignTeacher" [disabled]="disabled" (click)="createShiftToModify()">Asignar Profesor</button>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 btn-float-right">
            <button type="button" class="btn btn-warning form-control col-6 btn-float-right" data-toggle="modal" href="#myModalAssignQuota" [disabled]="disabled" (click)="createShiftToModify()">Asignar Cupo</button>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 btn-float-right">
            <button type="button" class="btn btn-danger form-control col-6 btn-float-right" [disabled]="disabled" (click)="delete()">Eliminar</button>
          </div>
        </div>
      </div>
      <div class="w-100 text-center" *ngIf="requestingList && toList">
        <div class="spinner-border text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!requestingList && shifts.length == 0">
        <h5>No hay turnos registrados</h5>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Abrir ventana de diálogo</button>-->

  <div class="modal fade" id="myModalAssignTeacher">
    <div class="modal-dialog modal-md">
      <div class="modal-content">

        <!-- cabecera del diálogo -->
        <div class="modal-header modal-title">
          <h4 class="modal-title">Asignar Profesor</h4>
          <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
        </div>

        <!-- cuerpo del diálogo -->
        <div class="modal-body">
          <label class="form-label">Profesor:</label>
          <select class="form-control col-12" (change)="selectUser($event.target.value)">
            <option disabled value="">Seleccionar</option>
            <option *ngFor="let user of users" value={{user.id}}>{{user.lastName}} {{user.name}}</option>
          </select>

          <!-- pie del diálogo -->
          <p>Cantidad de clases: {{shiftToModify.length}}</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="assignTeacher()">Aceptar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Abrir ventana de diálogo</button>-->

    <div class="modal fade" id="myModalAssignQuota">
      <div class="modal-dialog modal-md">
        <div class="modal-content">

          <!-- cabecera del diálogo -->
          <div class="modal-header modal-title">
            <h4 class="modal-title">Asignar Cupo</h4>
            <!--<button type="button" class="close" data-dismiss="modal">X</button>-->
          </div>

          <!-- cuerpo del diálogo -->
          <div class="modal-body">
            <label class="form-label">Cupo:</label>
            <input type="number" class="form-control col-6" [(ngModel)]="quota" />

            <!-- pie del diálogo -->
            <p>Cantidad de clases: {{shiftToModify.length}}</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="assignQuota()">Aceptar</button>
            </div>

          </div>
        </div>
      </div>
    </div>



