
a {
  text-decoration: none !important;
  cursor: pointer;
}
.btn-prod {
  height: 38px;
  width: 50px;
  margin-left: 2px;
  margin-right: 2.5px;
}

.div-btn-prod {
  height: 38px;
  margin-top: 31px;
}

.div-total-cobrar {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.total-width {
    width: 50%;
}

.div-btn-create {
  padding: 0px;
  margin-top: 15px;
}

.btn-create {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}


tr.span-margin > td > span {
  margin-left: 15px;
}

td.text-ajust {
  text-overflow: ellipsis;
}

@media only screen and (max-width: 800px) {
  #no-more-tables td {
    padding-left: 30%;
  }

  .detailSale-table {
    font-size: 11px;
    border: 1px solid #808080;
    margin-top: 2px;
  }


  .btn-action-list button {
    margin-left: 35px !important;
    margin-right: 35px !important;
    margin-top: 31px !important;
  }

  .total-width {
    width: 50%;
  }
  .btn-prod {
    height: 38px;
    width: 44px;
    margin-left: 2px;
    margin-right: 2.5px;
    font-size: 13px;
  }

}

