<section class="wrapper">
  <div class="container-fluid modal-content modal-lg p-0">
    <header class="modal-header d-block bg-success"><h3 class="text-center text-white">Ventas</h3></header>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 card p-0">
            <div class="row card-body">
              <div class="dropdown card-body col-12 formValidators">
                <a class="dropdown-toggle" id="dropdown1" data-toggle="dropdown">
                  <label class="form-label text-black">Socio:</label>
                  <input type="text" class="form-control" placeholder="Buscar Socio" [(ngModel)]="filterMember" />
                </a>
                <p *ngIf="sendDetailSale && f.memberName.errors?.required">*Debe seleccionar un socio.</p>
                <div class="dropdown-menu form-control">
                  <a *ngFor="let member of members  | searchFilterMember: filterMember " class="dropdown-item" (click)="selectMember(member)">{{member.lastName}} {{member.name}}</a>
                </div>
                <div *ngIf="fees.length>0">
                  <section id="no-more-tables">
                    <table class="table table-bordered table-condensed cf scrollme user-table bg-danger text-white table-font">
                      <thead>
                        <tr>
                          <th>Cantidad</th>
                          <th>Fecha Alta</th>
                          <th>Fecha Vcto.</th>
                          <th>Plan</th>
                          <th>Promoción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="scrollme" *ngFor="let fee of fees">
                          <td class="td-title" data-title="Cantidad">{{fee.credits}}</td>
                          <td class="td-title" data-title="Fecha Alta">{{fee.from | date: 'dd/MM/yyyy'}}</td>
                          <td class="td-title" data-title="Fecha Vcto.">{{fee.to | date: 'dd/MM/yyyy'}}</td>
                          <td class="td-title" data-title="Plan">{{fee.planName}}</td>
                          <td class="td-title" data-title="Promoción"><span *ngIf="fee.promotionId==null">-</span><span *ngIf="fee.promotionId!=null">{{fee.promotion.name}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </div>
                <div *ngIf="balances.length>0">
                  <section id="no-more-tables">
                    <table class="table table-bordered table-condensed cf scrollme user-table bg-warning text-white table-font">
                      <thead>
                        <tr>
                          <th colspan="5" class="text-center">Saldos</th>
                        </tr>
                        <tr>
                          <th>Fecha</th>
                          <th>Concepto</th>
                          <th>Detalle</th>
                          <th>Saldo</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="scrollme" *ngFor="let balance of balances">
                          <td class="td-title" data-title="Fecha">{{balance.date | date: 'dd/MM/yyyy'}}</td>
                          <td data-title="Concepto"><span *ngIf="balance.transaction == 1">Venta</span><span *ngIf="balance.transaction == 2">Cuota</span></td>
                          <td data-title="Detalle">
                            <span>
                              <a class="a-link-detail" (click)="getTransaction(balance)">ver</a>
                            </span>
                          </td>
                          <td data-title="Saldo"><span *ngIf="balance.balance>0">{{balance.balance}}</span><span *ngIf="balance.balance<0">{{balance.balance * -1}} (a favor)</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 card bg-light p-0">
            <div class="card-body row pb-0">
              <div class="dropdown card-body col-12 pb-0 formValidators">
                <a class="dropdown-toggle" id="dropdown2" data-toggle="dropdown">
                  <label class="form-label text-black">Producto:</label>
                  <input type="text" class="form-control" placeholder="Buscar Producto" [(ngModel)]="filterProduct" />
                </a>
                <p *ngIf="sendDetailSale && f.description.errors?.required">*Debe seleccionar un producto.</p>
                <div class="dropdown-menu form-control">
                  <a *ngFor="let prod of products | searchFilterProduct: filterProduct" class="dropdown-item" (click)="selectProduct(prod)">{{prod.description}}</a>
                </div>
              </div>
            </div>
            <div class="row card-body p-0">
              <form [formGroup]="formDetailsSale">
                <div class="card-body col-6 col-lg-3 btn-float-left formValidators">
                  <label class="form-label">Cantidad:</label>
                  <input type="number" class="form-control" formControlName="quantity" (blur)="calculateTotal()" />
                  <p *ngIf="sendDetailSale && f.quantity.errors?.min">*La cantidad debe ser mayor a "0".</p>
                </div>
                <div class="card-body col-6 col-lg-3 btn-float-left">
                  <label class="form-label">Precio:</label>
                  <input type="number" class="form-control" formControlName="price" />
                </div>
                <div class="card-body col-6 col-lg-3 btn-float-left">
                  <label class="form-label">Total:</label>
                  <input type="number" class="form-control" formControlName="total" (blur)="calculateTotal()" />
                </div>
                <div class="card-body col-6 col-lg-3 btn-float-right div-btn-prod">
                  <div class="justify-content-center align-content-center">
                    <button class="btn btn-success text-center btn-prod" (click)="addDetailSale()">OK</button>
                    <button class="btn btn-success text-center btn-prod" (click)="cleanForm()"><i class="fa fa-plus"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="detailsSale.length>0" class="row card bg-light p-0">
          <table class="table table-bordered table-condensed cf scrollme detailSale-table mb-0">
            <thead class="cf">
              <tr>
                <th>Descripc.</th>
                <th>Cant.</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of detailsSale; index as i" class="scrollme">
                <td class="td-title" data-title="Descripc.">{{detail.description}}</td>
                <td class="td-title">{{detail.quantity}}</td>
                <td class="td-title">{{detail.price | currency}}</td>
                <td class="td-title">{{detail.quantity*detail.price | currency}}</td>
                <td class="td-title"><button class="btn btn-danger btn-xs" (click)="removeList(i)"><i class="fa fa-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12 card">
            <div class="row card-body p-0">
              <div class="col-6 p-0">
                <div class="card-body col-12 col-lg-6 btn-float-left">
                  <label class="form-label">Total a cobrar $</label>
                </div>
                <div class="card-body col-12 col-lg-6 btn-float-left padding-input-total">
                  <input type="number" class="form-control col-6" [(ngModel)]="total" />
                </div>
              </div>
              <div class="col-6 p-0">
                <div class="card-body col-12 col-lg-6 btn-float-left">
                  <label class="form-label">Pago $</label>
                </div>
                <div class="card-body col-12 col-lg-6 btn-float-left padding-input-total">
                  <input type="number" class="form-control col-6" [(ngModel)]="pay" (keyup)="calculateTotal()"  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid modal-lg div-btn-create">
    <button type="button" class="col-3 col-lg-2 btn btn-secondary btn-float-left btn-create" [routerLink]="['/caja']">Volver</button>
    <button type="button" class="col-3 col-lg-2 btn btn-success btn-float-right btn-create" (click)="submit()">Aceptar</button>
  </div>
</section>
<div [ngClass]="{'view-debt-detail': viewDebts}">
  <app-debt-detail *ngIf="selectedMember"></app-debt-detail>
</div>






