<section class="wrapper">
  <div class="container-fluid modal-content modal-lg p-0">
    <header class="modal-header d-block bg-success"><h3 class="text-center text-white">Ventas</h3></header>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 card p-0">
            <div class="row card-body">
              <div class="dropdown card-body col-12 formValidators">
                <a class="dropdown-toggle" id="dropdown1" data-toggle="dropdown">
                  <label class="form-label text-black">Socio:</label>
                  <input type="text" class="form-control" placeholder="Buscar Socio" [(ngModel)]="filterMember" />
                </a>
                <p *ngIf="sendDetailSale && f.memberName.errors?.required">*Debe seleccionar un socio.</p>
                <div class="dropdown-menu form-control">
                  <a *ngFor="let member of members  | searchFilterMember: filterMember " class="dropdown-item" (click)="selectMember(member)">{{member.lastName}} {{member.name}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 card bg-light p-0">
            <div class="card-body row pb-0">
              <div class="dropdown card-body col-12 pb-0 formValidators">
                <a class="dropdown-toggle" id="dropdown2" data-toggle="dropdown">
                  <label class="form-label text-black">Producto:</label>
                  <input type="text" class="form-control" placeholder="Buscar Producto" [(ngModel)]="filterProduct" />
                </a>
                <p *ngIf="sendDetailSale && f.description.errors?.required">*Debe seleccionar un producto.</p>
                <div class="dropdown-menu form-control">
                  <a *ngFor="let prod of products | searchFilterProduct: filterProduct" class="dropdown-item" (click)="selectProduct(prod)">{{prod.description}}</a>
                </div>
              </div>
            </div>
            <div class="row card-body p-0">
              <form [formGroup]="formDetailsSale">
                <div class="card-body col-6 col-lg-3 pull-left formValidators">
                  <label class="form-label">Cantidad:</label>
                  <input type="number" class="form-control" formControlName="quantity" (blur)="calculateTotal()" />
                  <p *ngIf="sendDetailSale && f.quantity.errors?.min">*La cantidad debe ser mayor a "0".</p>
                </div>
                <div class="card-body col-6 col-lg-3 pull-left">
                  <label class="form-label">Precio:</label>
                  <input type="number" class="form-control" formControlName="price" />
                </div>
                <div class="card-body col-6 col-lg-3 pull-left">
                  <label class="form-label">Total:</label>
                  <input type="number" class="form-control" formControlName="total" (blur)="calculateTotal()" />
                </div>
                <div class="card-body col-6 col-lg-3 pull-right div-btn-prod">
                  <div class="justify-content-center align-content-center">
                    <button class="btn btn-success text-center btn-prod" (click)="addDetailSale()">OK</button>
                    <button class="btn btn-success text-center btn-prod" (click)="cleanForm()"><i class="fa fa-plus"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="detailsSale.length>0" class="row card bg-light p-0">
          <table class="table table-bordered table-condensed cf scrollme detailSale-table mb-0">
            <thead class="cf">
              <tr>
                <th>Descripc.</th>
                <th>Cant.</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of detailsSale; index as i" class="scrollme">
                <td class="td-title" data-title="Descripc.">{{detail.description}}</td>
                <td class="td-title">{{detail.quantity}}</td>
                <td class="td-title">{{detail.price | currency}}</td>
                <td class="td-title">{{detail.quantity*detail.price | currency}}</td>
                <td class="td-title"><button class="btn btn-danger btn-xs" (click)="removeList(i)"><i class="fa fa-trash-o "></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12 card">
            <div class="row card-body p-0">
              <div class="col-6 p-0">
                <div class="card-body col-12 col-lg-6 pull-left ">
                  <label class="form-label">Total a cobrar $</label>
                </div>
                <div class="card-body col-12 col-lg-6 pull-left padding-input-total">
                  <input type="number" class="form-control col-6" [(ngModel)]="total" />
                </div>
              </div>
              <div class="col-6 p-0">
                <div class="card-body col-12 col-lg-6 pull-left ">
                  <label class="form-label">Pago $</label>
                </div>
                <div class="card-body col-12 col-lg-6 pull-left padding-input-total">
                  <input type="number" class="form-control col-6" [(ngModel)]="pay" (keyup)="calculateTotal()"  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid modal-lg div-btn-create">
    <button type="button" class="col-3 col-lg-2 btn btn-secondary pull-left btn-create" [routerLink]="['/caja']">Volver</button>
    <button type="button" class="col-3 col-lg-2 btn btn-success pull-right btn-create" (click)="submit()">Aceptar</button>
  </div>
</section>






